@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
button,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body,
table,
input,
textarea,
select,
option,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

@media only screen and (min-width: 737px) {
  body,
  table,
  input,
  textarea,
  select,
  option,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 1.1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.trackTags {
  display: none;
}

@media only screen and (min-width: 737px) {
  .pc_hide {
    display: none;
  }
  .sp_hide {
    display: block;
  }
}

@media only screen and (max-width: 736px) {
  .pc_hide {
    display: inline-block;
  }
  .sp_hide {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}

body {
  line-height: 1.5;
  text-align: center;
}

@media only screen and (min-width: 737px) {
  body {
    min-width: 960px;
  }
}

#container {
  margin: 0 auto;
  text-align: left;
  color: #333;
}

#main:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (min-width: 737px) {
  .l-header {
    background: url(../img/main_bg.png) no-repeat top center;
    background-size: cover;
    overflow: hidden;
  }
  .l-header_in {
    padding: 43px 0 8px;
  }
  .l-header_ttl {
    margin-bottom: 65px;
  }
  .l-header_box {
    min-height: 548px;
    position: relative;
  }
  .l-header_box_txt {
    margin: 0px 0 0 -2px;
    float: left;
  }
  .l-header_box_img {
    position: absolute;
    top: -24px;
    right: -45px;
  }
}

@media only screen and (max-width: 736px) {
  .l-header {
    background: url(../img/main_bg_sp.png) no-repeat top center;
    background-size: cover;
  }
  .l-header_in {
    padding: 22px 15px 0;
  }
  .l-header_ttl {
    margin-bottom: 30px;
    text-align: center;
  }
  .l-header_box_txt {
    margin-bottom: 26px;
    text-align: center;
  }
  .l-header_box_txt img {
    max-width: 100%;
  }
  .l-header_box_img {
    padding-left: 10px;
    text-align: center;
  }
  .l-header_box_img img {
    max-width: 100%;
  }
}

.l-footer_pageTop {
  position: fixed;
  right: 27px;
  bottom: 65px;
}

.l-footer_box {
  padding: 20px 0 19px;
  background: #333;
}

.l-footer_in {
  margin: 0 auto;
  width: 960px;
}

.l-footer_link {
  float: left;
  width: 170px;
  font-size: 1.4rem;
}

.l-footer_link a {
  color: #FFF;
  text-decoration: underline;
}

.l-footer_link a:hover {
  text-decoration: none;
}

.l-footer_address {
  float: right;
  width: 755px;
  color: #fff;
  font-size: 1.4rem;
  text-align: right;
}

.l-footer_address a {
  color: #FFF;
  pointer-events: none;
  text-decoration: none;
}

.l-footer_address br {
  display: none;
}

.l-footer_copyright {
  padding: 10px 0;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  background-color: #000;
}

@media only screen and (max-width: 736px) {
  .l-footer_pageTop {
    display: none;
  }
  .l-footer_box {
    padding: 10px 15px;
  }
  .l-footer_in {
    width: auto;
  }
  .l-footer_link {
    float: none;
    width: auto;
    font-size: 1rem;
  }
  .l-footer_address {
    float: none;
    width: auto;
    font-size: 1rem;
    text-align: left;
  }
  .l-footer_address br {
    display: block;
  }
  .l-footer_address a {
    pointer-events: auto;
    text-decoration: none;
  }
  .l-footer_copyright {
    padding: 5px 0;
    font-size: 1.1rem;
  }
}

.c-list_item {
  padding-left: 10px;
  position: relative;
  font-size: 1.2rem;
  line-height: 1.4;
}

.c-list_item:before {
  width: 6px;
  height: 6px;
  background: #CF0058;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
}

.c-list02_item {
  padding-left: 16px;
  position: relative;
  font-size: 1.8rem;
}

.c-list02_item:before {
  width: 8px;
  height: 8px;
  background: #6EB92B;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
}

@media only screen and (max-width: 736px) {
  .c-list02_item {
    padding-left: 12px;
    font-size: 1.3rem;
  }
  .c-list02_item:before {
    width: 5px;
    height: 5px;
    top: 7px;
  }
}

.is-green {
  color: #6CB82B;
  font-weight: bold;
}

@media only screen and (min-width: 737px) {
  .is-inner {
    margin: auto;
    width: 960px;
  }
}