@charset "UTF-8";
/*------------------------------------------------------------
Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
font-size: 1em;
margin: 0;
padding: 0;
border: 0;
outline: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
display: block; }
html {
font-size: 62.5%; }
body {
-webkit-text-size-adjust: 100%; }
body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ",
"Meiryo", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; }
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: bold; }
table,
input,
textarea,
select,
option {
line-height: 1.1; }
ol,
ul {
list-style: none; }
blockquote,
q {
quotes: none; }
:focus {
outline: 0; }
ins {
text-decoration: none; }
del {
text-decoration: line-through; }
img {
vertical-align: top; }
a {
-webkit-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out; }
a:hover {
opacity: 0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha(opacity=80)"; }
form label {
cursor: pointer; }
/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
opacity: 0.3 !important;
font-size: 5px !important;
line-height: 100% !important;
padding: 0 5px 0 5px !important;
border-radius: 0 !important; }
.c-dev-title1 {
background: #000;
color: #fff;
line-height: 1;
padding: 6px 0 6px 15px;
font-size: 1.6rem;
margin: 60px 0 20px 0; }
.c-dev-title2 {
background: #888;
color: #fff;
line-height: 1;
padding: 6px 0 6px 30px;
font-size: 1.3rem;
margin: 50px 0 10px 0; }
.c-dev-message1 {
top: 0;
left: 0;
background: #f00;
color: #fff;
z-index: 9999;
position: fixed;
line-height: 1;
padding: 3px 6px;
opacity: 0.6;
font-size: 8px; }
@media (min-width: 768px) {
.sp-only {
display: none; } }
@media screen and (max-width: 767px) {
.pc-only {
display: none; }
img {
max-width: 100%;
height: auto; } }
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
padding: 16px 0;
background: #e6e6e6; }
@media screen and (max-width: 767px) {
.c-footer {
padding: 17px 0 21px; } }
.c-footer__inner {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center; }
@media screen and (max-width: 767px) {
.c-footer__inner {
display: block; } }
.c-footer__logo {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center; }
@media screen and (max-width: 767px) {
.c-footer__logo {
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
margin-bottom: 6px; } }
.c-footer__logo a {
display: inline-block;
font-size: 1.4rem;
line-height: 1;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
color: #313131;
text-decoration: none; }
@media screen and (max-width: 767px) {
.c-footer__logo a {
font-size: 1rem; } }
.c-footer__logo a:nth-of-type(2) {
padding-top: 7px;
border-bottom: 1px solid #000;
margin-left: 18px; }
@media screen and (max-width: 767px) {
.c-footer__logo a:nth-of-type(2) {
padding-top: 4px;
letter-spacing: 1.5px;
margin-left: 12px; } }
.c-footer__logo a:hover {
opacity: 1; }
@media screen and (max-width: 767px) {
.c-footer__logo a img {
width: 52px;
height: 14px; } }
.c-footer__copy {
font-size: 1.4rem;
line-height: 2.4rem;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
color: #313131;
letter-spacing: 1px; }
@media screen and (max-width: 767px) {
.c-footer__copy {
font-size: 1rem;
line-height: 1.4rem;
text-align: center;
letter-spacing: 0.5px; } }
.c-backtop {
position: fixed;
right: 0;
bottom: 0;
width: 80px;
height: 90px;
z-index: 10;
cursor: pointer;
display: none;
-webkit-transition: 0.3s ease;
transition: 0.3s ease; }
@media screen and (max-width: 767px) {
.c-backtop {
width: 43px;
height: 50px;
bottom: 0; } }
@media screen and (max-width: 767px) {
.c-backtop img {
height: 100%;
width: auto; } }
@media screen and (max-width: 767px) {
.c-backtop.is-show {
bottom: 0; } }
/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header {
position: relative;
z-index: 4; }
.c-header__logo {
display: inline-block;
padding: 25px 0 0 30px; }
@media screen and (max-width: 767px) {
.c-header__logo {
padding: 15px 0 0 15px; } }
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body {
min-width: 1440px;
/* overflow-x: hidden; */ }
@media screen and (max-width: 767px) {
body {
min-width: 100%; } }
.l-container {
width: 1200px;
margin: 0 auto; }
@media screen and (max-width: 767px) {
.l-container {
width: 100%; } }
/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn01 {
width: 526px;
border-radius: 45px;
overflow: hidden;
position: relative;
cursor: pointer;
z-index: 1111; }
@media screen and (max-width: 767px) {
.c-btn01 {
width: 100%; } }
.c-btn01:before {
content: "";
width: calc(100% - 4px);
height: calc(100% - 4px);
background: #FFF;
position: absolute;
top: 2px;
left: 2px;
border-radius: 45px;
opacity: 0;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
.c-btn01:after {
content: "";
width: 33px;
height: 7px;
background: url("../../assets/img/icon_arrow06.png") no-repeat;
background-size: cover;
position: absolute;
top: calc(50% - 5.5px);
right: 60px;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
@media screen and (max-width: 767px) {
.c-btn01:after {
width: 19px;
height: 4px;
top: calc(50% - 2px);
right: 22px; } }
.c-btn01 a {
display: block;
background: #ee5f09;
color: #FFF;
text-decoration: none;
font-size: 3rem;
text-align: center;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
letter-spacing: 1.5px;
position: relative; }
@media screen and (max-width: 767px) {
.c-btn01 a {
font-size: 1.743rem;
letter-spacing: 1px; } }
.c-btn01 a:before,
.c-btn01 a:after {
content: "";
width: 0;
height: 2px;
background: #ee5f09;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: 1; }
.c-btn01 a:before {
right: 0;
top: 0;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; }
.c-btn01 a:after {
bottom: 0;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s;
left: 40px; }
.c-btn01 a span {
display: block;
padding: 25px 94px 22px 98px;
position: relative; }
@media screen and (max-width: 767px) {
.c-btn01 a span {
padding: 10px 42px 8px 46px; } }
.c-btn01 a span:before,
.c-btn01 a span:after {
content: "";
width: 50px;
height: 0;
background: #ee5f09;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: -1; }
.c-btn01 a span:before {
left: 0;
top: 0;
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn01 a span:after {
right: 0;
bottom: 0;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s; }
@media screen and (min-width: 767px) {
.c-btn01:hover:before {
-webkit-transition-delay: 0s;
transition-delay: 0s;
opacity: 1; }
.c-btn01:hover:after {
background: url("../../assets/img/icon_arrow07.png") no-repeat;
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn01:hover a {
opacity: 1;
background: transparent;
color: #ee5f09;
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn01:hover a:before {
width: 100%;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s; }
.c-btn01:hover a:after {
width: calc(100% - 80px);
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn01:hover a span:before {
height: 100%;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s; }
.c-btn01:hover a span:after {
height: 100%;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; } }
.c-btn01--submit {
padding: 0;
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
background-color: transparent; }
.c-btn01--confirm {
padding: 0;
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
background-color: transparent; }
.c-btn01--confirm a {
background: #b1b1b1; }
.c-btn01--confirm a:before,
.c-btn01--confirm a:after {
background: #b1b1b1; }
.c-btn01--confirm a span:before,
.c-btn01--confirm a span:after {
background: #b1b1b1; }
@media screen and (min-width: 767px) {
.c-btn01--confirm:hover a {
color: #b1b1b1; } }
.c-btn01--thanks:before {
width: calc(100% - 6px);
height: calc(100% - 6px);
top: 3px;
left: 3px; }
@media screen and (max-width: 767px) {
.c-btn01--thanks:before {
width: calc(100% - 4px);
height: calc(100% - 4px);
top: 2px;
left: 2px; } }
.c-btn01--thanks:after {
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
.c-btn01--thanks a {
background: #eeeeee;
color: #232323;
border: 3px solid #aaaaaa;
border-radius: 45px; }
@media screen and (max-width: 767px) {
.c-btn01--thanks a {
border: 2px solid #aaaaaa; } }
.c-btn01--thanks a:before,
.c-btn01--thanks a:after {
height: 3px;
background: #47a738; }
@media screen and (max-width: 767px) {
.c-btn01--thanks a:before,
.c-btn01--thanks a:after {
height: 2px; } }
.c-btn01--thanks a:before {
right: 0;
top: -3px; }
@media screen and (max-width: 767px) {
.c-btn01--thanks a:before {
top: -2px; } }
.c-btn01--thanks a:after {
left: 0;
bottom: -3px; }
@media screen and (max-width: 767px) {
.c-btn01--thanks a:after {
bottom: -2px; } }
.c-btn01--thanks a span {
height: 83px;
left: -3px;
width: 526px;
padding: 18px 94px 18px 98px; }
@media screen and (max-width: 767px) {
.c-btn01--thanks a span {
left: -2px;
width: calc(100% + 4px);
height: 40px;
padding: 6px 20px; } }
.c-btn01--thanks a span:before,
.c-btn01--thanks a span:after {
background: #47a738; }
@media screen and (min-width: 767px) {
.c-btn01--thanks:hover:after {
background: url("/assets/img/icon_arrow08.png") no-repeat;
background-size: 33px 7px; } }
@media screen and (min-width: 767px) and (max-width: 767px) {
.c-btn01--thanks:hover:after {
background-size: 19px 4px; } }
@media screen and (min-width: 767px) {
.c-btn01--thanks:hover a {
color: #232323;
border: 3px solid transparent; } }
@media screen and (min-width: 767px) and (max-width: 767px) {
.c-btn01--thanks:hover a {
border: 2px solid transparent; } }
.c-btn02 {
width: 526px;
border-radius: 45px;
overflow: hidden;
position: relative; }
@media screen and (max-width: 767px) {
.c-btn02 {
width: 100%; } }
.c-btn02:before,
.c-btn02:after {
content: "";
width: 0;
height: 2px;
background: #FFF;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: 1; }
.c-btn02:before {
right: 0;
top: 0;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; }
.c-btn02:after {
bottom: 0;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s;
left: 40px; }
.c-btn02 a {
display: block;
background: #ee5f09;
color: #FFF;
text-decoration: none;
font-size: 3rem;
text-align: center;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
letter-spacing: 1.5px;
position: relative;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
@media screen and (max-width: 767px) {
.c-btn02 a {
font-size: 1.743rem;
letter-spacing: 1px; } }
.c-btn02 a:before,
.c-btn02 a:after {
content: "";
width: 45px;
height: 0;
background: #FFF;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: 1; }
.c-btn02 a:before {
left: 0;
top: 0;
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn02 a:after {
bottom: 0;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s;
right: 0; }
.c-btn02 a span {
display: block;
padding: 24px 94px 19px 98px;
position: relative;
z-index: 2; }
@media screen and (max-width: 767px) {
.c-btn02 a span {
padding: 10px 42px 8px 46px; } }
.c-btn02 a span:before {
content: "";
width: calc(100% - 4px);
height: calc(100% - 4px);
background: #ee5f09;
position: absolute;
left: 2px;
top: 2px;
border-radius: 45px; }
.c-btn02 a span:after {
content: "";
width: 33px;
height: 7px;
background: url("../../assets/img/icon_arrow06.png") no-repeat;
background-size: 33px 7px;
position: absolute;
top: calc(50% - 5.5px);
right: 60px;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
@media screen and (max-width: 767px) {
.c-btn02 a span:after {
width: 19px;
height: 4px;
top: calc(50% - 2px);
background-size: 19px 4px;
right: 22px; } }
.c-btn02 a span strong {
display: block;
position: relative;
z-index: 3;
font-weight: normal; }
@media screen and (min-width: 767px) {
.c-btn02:hover:before {
width: 100%;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s; }
.c-btn02:hover:after {
width: calc(100% - 80px);
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn02:hover a {
opacity: 1; }
.c-btn02:hover a:before {
height: 100%;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s; }
.c-btn02:hover a:after {
height: 100%;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; } }
.c-btn02--thanks:before,
.c-btn02--thanks:after {
background: #47a738;
height: 3px; }
.c-btn02--thanks a {
background: #aaaaaa;
color: #232323; }
.c-btn02--thanks a:before,
.c-btn02--thanks a:after {
background: #47a738; }
.c-btn02--thanks a span:before {
background: #eeeeee;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s;
width: calc(100% - 6px);
height: calc(100% - 6px);
top: 3px;
left: 3px; }
.c-btn02--thanks a span:after {
right: 53px;
background: url("../../assets/img/icon_arrow08.png") no-repeat;
background-size: 33px 7px; }
@media screen and (max-width: 767px) {
.c-btn02--thanks a span:after {
background-size: 19px 4px; } }
@media screen and (min-width: 767px) {
.c-btn02--thanks:hover a {
background: #FFF;
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn02--thanks:hover a span:before {
background: #FFF;
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn02--thanks:hover a span:after {
background: url("../../assets/img/icon_arrow08.png") no-repeat;
background-size: 33px 7px;
-webkit-transition-delay: 0s;
transition-delay: 0s; } }
@media screen and (min-width: 767px) and (max-width: 767px) {
.c-btn02--thanks:hover a span:after {
background-size: 19px 4px; } }
.c-btn03 {
width: 526px; }
@media screen and (max-width: 767px) {
.c-btn03 {
width: 100%; } }
.c-btn03 a {
display: block;
text-decoration: none;
text-align: center;
font-family: "VDL-Logona";
letter-spacing: 1.5px;
position: relative;
background: #eeeeee;
border: 3px solid #aaaaaa;
color: #232323;
font-size: 3rem;
padding: 18px 92px 20px 96px;
border-radius: 45px; }
@media screen and (max-width: 767px) {
.c-btn03 a {
padding: 7px 20px;
font-size: 1.743rem;
border: 2px solid #aaaaaa; } }
.c-btn03 a:after {
content: "";
width: 33px;
height: 7px;
background: url("../../assets/img/icon_arrow06.png") no-repeat;
background-size: cover;
position: absolute;
top: calc(50% - 3.5px);
right: 60px; }
@media screen and (max-width: 767px) {
.c-btn03 a:after {
width: 19px;
height: 4px;
top: calc(50% - 2px);
right: 22px; } }
@media screen and (min-width: 767px) {
.c-btn03 a:hover {
border: 3px solid #47a738;
background: #FFF; }
.c-btn03 a:hover:after {
background: url("/assets/img/icon_arrow08.png") no-repeat;
background-size: 33px 7px; } }
@media screen and (min-width: 767px) and (max-width: 767px) {
.c-btn03 a:hover:after {
background-size: 19px 4px; } }
.c-btn04 {
width: 526px;
border-radius: 45px;
overflow: hidden;
position: relative;
cursor: pointer; }
@media screen and (max-width: 767px) {
.c-btn04 {
width: 100%; } }
.c-btn04:before {
content: "";
width: calc(100% - 4px);
height: calc(100% - 4px);
background: #FFF;
position: absolute;
top: 2px;
left: 2px;
border-radius: 45px;
opacity: 0;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
.c-btn04:after {
content: "";
width: 33px;
height: 7px;
background-size: cover;
position: absolute;
top: calc(50% - 5.5px);
right: 60px;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
@media screen and (max-width: 767px) {
.c-btn04:after {
width: 19px;
height: 4px;
top: calc(50% - 2px);
right: 22px; } }
.c-btn04 a {
display: block;
background: #ee5f09;
color: #FFF;
text-decoration: none;
font-size: 3rem;
text-align: center;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
letter-spacing: 1.5px;
position: relative;
-webkit-transition-delay: 0.9s;
transition-delay: 0.9s; }
@media screen and (max-width: 767px) {
.c-btn04 a {
font-size: 1.743rem;
letter-spacing: 1px; } }
.c-btn04 a:before,
.c-btn04 a:after {
content: "";
width: 0;
height: 2px;
background: #ee5f09;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: 1; }
.c-btn04 a:before {
right: 0;
top: 0;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; }
.c-btn04 a:after {
bottom: 0;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s;
left: 40px; }
.c-btn04 a span {
display: block;
padding: 24px 94px 19px 98px;
position: relative; }
@media screen and (max-width: 767px) {
.c-btn04 a span {
padding: 10px 42px 8px 46px; } }
.c-btn04 a span:before,
.c-btn04 a span:after {
content: "";
width: 50px;
height: 0;
background: #ee5f09;
position: absolute;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
z-index: -1; }
.c-btn04 a span:before {
left: 0;
top: 0;
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn04 a span:after {
right: 0;
bottom: 0;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s; }
@media screen and (min-width: 767px) {
.c-btn04:hover:before {
-webkit-transition-delay: 0s;
transition-delay: 0s;
opacity: 1; }
.c-btn04:hover:after {
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn04:hover a {
opacity: 1;
background: transparent;
color: #ee5f09;
-webkit-transition-delay: 0s;
transition-delay: 0s; }
.c-btn04:hover a:before {
width: 100%;
-webkit-transition-delay: 0.5s;
transition-delay: 0.5s; }
.c-btn04:hover a:after {
width: calc(100% - 80px);
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s; }
.c-btn04:hover a span:before {
height: 100%;
-webkit-transition-delay: 0.7s;
transition-delay: 0.7s; }
.c-btn04:hover a span:after {
height: 100%;
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s; } }
.c-btn04--submit {
padding: 0;
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
background-color: transparent; }
.c-btn04--confirm {
padding: 0;
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
background-color: transparent; }
.c-btn04--confirm a {
background: #b1b1b1; }
.c-btn04--confirm a:before,
.c-btn04--confirm a:after {
background: #b1b1b1; }
.c-btn04--confirm a span:before,
.c-btn04--confirm a span:after {
background: #b1b1b1; }
@media screen and (min-width: 767px) {
.c-btn04--confirm:hover a {
color: #b1b1b1; } }
/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/* c-text01
------------------------------------------------------------*/
.c-text01__inner {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center; }
.c-text01__title {
width: 346px;
position: relative; }
.c-text01__title:after {
content: "";
width: 1px;
height: calc(100% - 18px);
background: #111;
position: absolute;
top: 12px;
right: 0; }
.c-text01__text {
width: calc(100% - 346px);
padding-left: 45px;
padding-top: 6px; }
.c-text01__text p {
font-size: 1.6rem;
line-height: 3.2rem;
color: #111;
font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
font-weight: normal; }
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*------------------------------------------------------------
thank
------------------------------------------------------------*/
.p-thank {
padding-top: 83px;
padding-bottom: 115px; }
@media screen and (max-width: 767px) {
.p-thank {
padding: 0 25px 25px; } }
.p-thank__inner {
position: relative; }
@media screen and (max-width: 767px) {
.p-thank__inner {
padding-top: 26px; } }
.p-thank__inner:before {
content: "";
width: 1200px;
height: 236px;
background: url("../img/120.png") no-repeat center;
position: absolute;
top: -10px;
left: 0; }
@media screen and (max-width: 767px) {
.p-thank__inner:before {
content: "";
width: 100%;
background: url("../img/120_sp.png") no-repeat center;
top: -116px;
left: 120px; } }
@media screen and (max-width: 640px) {
.p-thank__inner:before {
content: "";
width: 100%;
top: -55px;
left: 25px;
height: 100%;
z-index: -1;
background-position: top right; } }
.p-thank__title {
text-align: center;
font-size: 3.5rem;
line-height: 3.8rem;
color: #009944;
font-family: "ShinGoPro", sans-serif;
font-weight: bold; }
@media screen and (max-width: 767px) {
.p-thank__title {
font-size: 1.6rem;
line-height: 1.9rem; } }
.p-thank__title span {
display: block;
font-size: 2.4rem;
color: #232323;
margin-bottom: 12px; }
@media screen and (max-width: 767px) {
.p-thank__title span {
font-size: 1.1rem;
margin-bottom: 8px; } }
.p-thank__title02 {
font-size: 2rem;
font-family: "ShinGoPro", sans-serif;
font-weight: bold;
color: #232323;
text-align: center;
position: relative;
margin-top: 73px; }
@media screen and (max-width: 767px) {
.p-thank__title02 {
font-size: 1.1rem;
margin-top: 44px; } }
.p-thank__title02:before {
content: "";
width: 100%;
height: 1px;
background: #e6e6e6;
position: absolute;
top: 50%;
left: 0; }
.p-thank__title02 span {
background: #FFF;
position: relative;
padding: 0 25px; }
@media screen and (max-width: 767px) {
.p-thank__title02 span {
padding: 0 15px; } }
.p-thank__txt {
text-align: center;
font-size: 1.6rem;
line-height: 3.8rem;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
margin-top: 26px; }
@media screen and (max-width: 767px) {
.p-thank__txt {
font-size: 1.1rem;
line-height: 1.9rem;
margin-top: 14px; } }
.p-thank__txt span {
font-weight: bold; }
.p-thank__list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
margin-top: 80px;
padding: 0 99px 0 113px; }
@media screen and (max-width: 767px) {
.p-thank__list {
display: block;
margin-top: 29px;
padding: 0 11px 0 19px; }
.p-thank__list img {
width: 100%; } }
@media screen and (max-width: 767px) {
.p-thank__list li {
margin-bottom: 30px; } }
.p-thank .c-btn02 {
margin: 78px auto 0; }
@media screen and (max-width: 767px) {
.p-thank .c-btn02 {
margin-top: 43px; } }
/*------------------------------------------------------------
top
------------------------------------------------------------*/
.p-top01 {
margin-top: -52px;
padding-bottom: 20px;
background: #FBFBFB;
overflow: hidden;
text-align: center; }
@media screen and (max-width: 767px) {
.p-top01 {
margin-top: -43px; } }
.p-top01__inner {
position: relative;
background: #fbfbfb; }
.p-top01__img--quote {
position: absolute;
z-index: 5; }
@media screen and (max-width: 767px) {
.p-top01__img--quote {
visibility: hidden;
opacity: 0; } }
.p-top01__img--quote01 {
top: 271px;
left: 25px; }
.p-top01__img--quote02 {
top: 66px;
right: 280px; }
.p-top01__img--quote03 {
top: 795px;
left: 256px; }
@media screen and (max-width: 767px) {
.p-top01__img img {
width: 100%; } }
@media screen and (max-width: 767px) {
.p-top01__text {
position: relative;
z-index: 5; }
.p-top01__text img {
width: 100%; } }
/*p-top02
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
.p-top02 .l-container {
padding: 0 25px; } }
.p-top02__top {
padding: 92px 0 100px; }
@media screen and (max-width: 767px) {
.p-top02__top {
padding: 39px 0 40px; } }
.p-top02__top-title {
font-size: 4.5rem;
line-height: 4.5rem;
font-weight: bold;
font-family: "ShinGoPro-DeBold", sans-serif;
color: #009944;
text-align: center;
margin-bottom: 26px; }
@media screen and (max-width: 767px) {
.p-top02__top-title {
font-size: 2.7rem;
line-height: 1;
margin-bottom: 28px; } }
.p-top02__top-title span {
display: block;
font-size: 2.4rem;
color: #232323;
margin-bottom: 8px; }
@media screen and (max-width: 767px) {
.p-top02__top-title span {
font-size: 1.4rem;
line-height: 1.1;
margin-bottom: 12px; } }
.p-top02__top-text {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-bottom: 39px; }
@media screen and (max-width: 767px) {
.p-top02__top-text {
margin-bottom: 30px; } }
.p-top02__top-text li {
font-size: 1.6rem;
line-height: 3.7rem;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
color: #232323;
padding-left: 20px;
position: relative;
width: 50%; }
@media screen and (max-width: 767px) {
.p-top02__top-text li {
width: 100%;
padding: 0;
font-size: 1.3rem;
line-height: 1.5; }
.p-top02__top-text li span {
display: block;
text-align: center;
padding: 12px 0; }
.p-top02__top-text li span {
border-top: 1px dotted #aeaeae; }
.p-top02__top-text li:last-child span:last-child {
border-bottom: 1px dotted #aeaeae; } }
@media screen and (min-width: 768px) {
.p-top02__top-text li:before {
content: "";
width: 1px;
height: 85%;
background: #009944;
position: absolute;
top: 11px;
left: 2px; } }
.p-top02__top-text li span {
font-family: "ShinGoPro-DeBold", sans-serif; }
@media screen and (min-width: 768px) {
.p-top02__top-text li span {
font-weight: bold;
font-family: "ShinGoPro-DeBold", sans-serif; } }
.p-top02__top-images {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0 -5px; }
@media screen and (max-width: 767px) {
.p-top02__top-images {
display: block;
margin: 0; } }
.p-top02__top-images li {
width: 33.333%;
padding: 0 5px; }
@media screen and (max-width: 767px) {
.p-top02__top-images li {
width: 100%;
padding: 0; }
.p-top02__top-images li:not(:last-child) {
margin-bottom: 10px; } }
.p-top02__top-images li img {
max-width: 100%; }
@media screen and (max-width: 767px) {
.p-top02__top-images li img {
width: 100%; } }
.p-top02__mid {
background: url(../img/bg_101.png) #f5f5f5 no-repeat top left;
padding: 154px 0 97px; }
@media screen and (max-width: 767px) {
.p-top02__mid {
padding: 35px 0 40px; } }
.p-top02__mid-title {
text-align: center;
font-size: 4.5rem;
font-weight: bold;
font-family: "ShinGoPro-DeBold", sans-serif;
margin-bottom: 59px; }
@media screen and (max-width: 767px) {
.p-top02__mid-title {
margin-bottom: 20px;
font-size: 2.7rem; } }
.p-top02__mid-title i {
font-size: 3.8rem;
font-style: normal; }
@media screen and (max-width: 767px) {
.p-top02__mid-title i {
font-size: 2.4rem; } }
.p-top02__mid-title span {
color: #009944; }
.p-top02__mid-list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
@media screen and (max-width: 767px) {
.p-top02__mid-list {
display: block;
margin: 0; } }
.p-top02__mid-list li {
width: calc(33.333% - 40px);
background: url(../img/bg_mid.png) no-repeat center / contain;
border-radius: 5px;
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;}
.p-top02__mid-list li:after {
content: "";
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #fff;
position: absolute;
left: 50%;
bottom: -14px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%); }
.p-top02__mid-list li:not(:last-child) {
margin-right:60px; }
@media screen and (max-width: 767px) {
.p-top02__mid-list li {
width: 100%;
padding: 0; }
.p-top02__mid-list li:not(:last-child) {
margin-bottom: 10px; } }
@media screen and (max-width: 767px) {
.p-top02__mid-bg {
padding: 24px 26px 20px; } }
.p-top02__mid-img {
text-align: center; }
@media screen and (max-width: 767px) {
.p-top02__mid-img {
margin: 0 0 6px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center; } }
.p-top02__mid-img--img {
margin-bottom: 27px; }
@media screen and (max-width: 767px) {
.p-top02__mid-img--img {
margin: 0 10px 0 0;
width: 26%; } }
.p-top02__mid-img--name {
font-size: 1.6rem;
font-weight: bold;
font-family: "ShinGoPro-DeBold", sans-serif; }
.p-top02__mid-txt {
font-size: 1.8rem;
font-family: "ShinGoPro", sans-serif;
line-height: 1.5; }
.p-top02__mid-txt strong,
.p-top02__mid-txt b {
font-family: "ShinGoPro-DeBold", sans-serif; 
color: #009944;}
@media screen and (max-width: 767px) {
.p-top02__mid-txt {
font-size: 1.3rem;
line-height: 1.8; } }
.p-top02__mid-txt b {
color: #009944; }

.p-top02__mid02 {
   border-top: 1px solid #cccccc;
   margin-top: 77px;
   padding-top: 80px;
}
.p-top02__mid02 .p-top02__mid-title{
   margin-bottom: 54px;
}

.p-top02__mid02 .p-top02__mid-txt {
   font-size: 1.6rem;
   line-height: 1.75;
   margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
   .p-top02__mid02-list {
      display: flex;
      margin: 0 -20px;
   }

   .p-top02__mid02-list li {
      width: 50%;
      padding: 0 20px;
   }
}

.p-top02__bot {
padding: 78px 0;
position: relative; }
.p-top02__bot:after {
content: "";
width: 0;
height: 0;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
border-top: 40px solid #009944;
position: absolute;
left: 50%;
top: -17px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%); }
@media screen and (max-width: 767px) {
.p-top02__bot {
padding: 30px 0 40px; } }
.p-top02__bot .l-container {
position: relative; }
.p-top02__bot-img1 {
position: absolute;
left: 0;
top: -23px;
z-index: 5; }
@media screen and (max-width: 767px) {
.p-top02__bot-img {
position: static;
margin-bottom: 20px;
padding: 0 22.5px; } }
.p-top02__bot-img2 {
position: absolute;
right: 0;
top: -33px;
z-index: 5; }
.p-top02__bot-title {
text-align: center; }
@media screen and (max-width: 767px) {
.p-top02__bot-title img {
width: 100%; } }
/*p-top03
------------------------------------------------------------*/
.p-top03 {
padding: 77px 0 60px;
background: url(../img/bg_102.png) #f5f5f5 no-repeat top right;
position: relative; }
@media screen and (max-width: 767px) {
.p-top03 {
padding: 52px 0 37px; }
.p-top03 .l-container {
padding: 0 25px; } }
.p-top03__title {
font-size: 4.8rem;
line-height: 1.4;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
color: #313131;
text-align: center;
margin-bottom: 50px; }
.p-top03__title .size {
   font-size: 4rem;
}
@media screen and (max-width: 767px) {
.p-top03__title {
font-size: 2.7rem;
margin-bottom: 48px; } }
.p-top03__title i {
font-size: 4.8rem;
font-style: normal;
font-weight: normal; }
@media screen and (max-width: 767px) {
.p-top03__title i {
font-size: 2.4rem; } }
.p-top03__title strong {
font-size: 4.8rem;
color: #009944; }
@media screen and (max-width: 767px) {
.p-top03__title strong {
display: inline-block;
font-size: 2.7rem;
margin-top: 3px; } }
.c-list1 {}
.c-list1__item {
margin-bottom: 20px; }
.c-list1__title {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between; }
.c-list1__ttl {
font-size: 2.6rem;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
line-height: 1.38; }
.c-list1__ttl strong {
color: #009944; }
@media screen and (min-width: 768px) {
   .p-top03__01 {
      display: flex;
      align-items: flex-start;
   }

   .p-top03__01-content {
      width: 50%;
      padding-top: 39px;
   }

   .p-top03__01-img {
      width: 50%;
      padding-left: 39px;
   }
}
.p-top03__01-title {
   margin-bottom: 53px;
}
.p-top03__01-txt p {
   font-size: 1.6rem;
   line-height: 1.75;
   font-family: "ShinGoPro", sans-serif;
}
.p-top03__01-txt p:not(:last-child) {
   margin-bottom: 28px;
}
.p-top03__01-txt strong {
   color: #009944;
}
.p-top03__02 {
   border-top: 1px solid #cccccc;
   margin-top: 80px;
   padding-top: 73px;
}
/*p-top04
------------------------------------------------------------*/
.p-top04 {
background: url(../img/bg_105.png) #f5f5f5 no-repeat left 38px;
padding: 0 0 80px;
position: relative; }
@media screen and (max-width: 767px) {
.p-top04 {
padding: 43px 0 39px; }
.p-top04 .l-container {
padding: 0 25px; } }
.p-top04__title {
text-align: center;
font-size: 4.8rem;
line-height: 1.42;
color: #232323;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
position: relative;
margin-bottom: 50px;
border-top: 1px solid #ccc;
padding-top: 73px; }
@media screen and (max-width: 767px) {
.p-top04__title {
font-size: 2.7rem;
line-height: 4.8rem;
margin-bottom: 31px; } }
.p-top04__title span {
color: #009944;
font-size: 4.8rem;
padding-left: 0; }
.p-top04__title i {
font-size: 4rem;
font-style: normal;
font-weight: normal; }
@media screen and (max-width: 767px) {
.p-top04__title i {
font-size: 2.4rem; } }
.p-top04__title strong {
font-weight: normal;
font-size: 4.8rem; }
.p-top04 .p-support {
background: #FFF; }
.p-top04 .p-support_in {
padding: 49px 0 34px 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
@media screen and (min-width: 768px) {
.p-top04 .p-support_in.sp-only {
display: none; } }
@media screen and (max-width: 767px) {
.p-top04 .p-support_in {
padding: 18px 20px 30px; }
.p-top04 .p-support_in.pc-only {
display: none; } }
.p-top04 .p-support_list {
border: 0;
width: 33.333%;
-webkit-columns: 1;
-moz-columns: 1;
columns: 1;
padding: 0; }
@media screen and (max-width: 767px) {
.p-top04 .p-support_list {
width: 100%; } }
.p-top04 .p-support_list:before {
left: auto;
right: 0; }
.p-top04 .p-support_list:last-child:before,
.p-top04 .p-support_list:after {
display: none; }
.p-top04 .p-support_list li {
padding: 0 10px 0 97px;
margin-bottom: 11px;
font-family: "ShinGoPro", sans-serif; }
.p-top04 .p-support_list li:last-child {
margin-bottom: 0; }
@media screen and (max-width: 767px) {
.p-top04 .p-support_list li {
padding: 0 0 0 15px;
font-size: 1.2rem;
margin-bottom: 3px; } }
.p-top04 .p-support_list li:before {
left: 69px;
background-image: url(../img/icon04.png); }
@media screen and (max-width: 767px) {
.p-top04 .p-support_list li:before {
left: 0;
width: 9px;
height: 9px; }
.p-top04 .p-support_list li.is-note1 {
text-align: center;
padding-right: 22px;
margin-bottom: 6px; } }
.p-top04 .p-support_list li.is-note2 {
font-size: 1.8rem;
line-height: 1.3;
padding: 0 0px 0 71px;
margin-bottom: 0;
font-family: "ShinGoPro", sans-serif;
font-weight: normal; }
@media screen and (max-width: 767px) {
.p-top04 .p-support_list li.is-note2 {
font-size: 1.4rem;
line-height: 2rem;
text-align: center;
padding: 0;
font-weight: bold; } }
.p-top04 .c-list2 {
margin-bottom: 50px; }
/*p-top05
------------------------------------------------------------*/
.p-top05 {
background-color: #f5f5f5; }
@media screen and (max-width: 767px) {
.p-top05 .l-container {
padding: 0 25px; } }
.p-top05__title {
text-align: center;
font-size: 4.8rem;
line-height: 1.35;
color: #313131;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
margin-bottom: 47px; }
@media screen and (max-width: 767px) {
.p-top05__title {
font-size: 2.7rem;
margin-bottom: 28px; } }
.p-top05__title span {
color: #2ea35e;
font-size: 4.8rem; }
.p-top05__title i {
font-weight: normal;
font-size: 4rem; }
.p-top05__title strong {
font-weight: normal;
font-size: 4.8rem; }
.p-top05__title2 {
text-align: center;
font-size: 4.8rem;
line-height: 1.35;
color: #313131;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
margin: 0 0 50px; 
border-top: 1px solid #ccc;
padding-top: 73px;}
.p-top05__title2 span {
color: #2ea35e; }
.p-top05__title2 i {
font-weight: normal; 
font-size: 4rem;}
.p-top05__wrap {
background-color: #fff;
padding: 60px 60px 39px; }
@media screen and (max-width: 767px) {
.p-top05__wrap {
padding: 30px 22px 30px; } }
.p-top05__heading {
position: relative;
margin-bottom: 40px; }
@media screen and (max-width: 767px) {
.p-top05__heading {
padding: 0;
margin-bottom: 20px; } }
.p-top05__heading-title {
margin-bottom: 22px;
margin-top: -51px; }
@media screen and (max-width: 767px) {
.p-top05__heading-title {
margin-bottom: 12px; } }
.p-top05__heading-txt {
font-family: "ShinGoPro", sans-serif;
font-size: 1.4rem;
color: #333;
line-height: 2;
padding-left: 11px; }
@media screen and (max-width: 767px) {
.p-top05__heading-txt {
padding: 0;
font-size: 1.3rem;
line-height: 1.8; } }
.p-top05__heading-img {
position: absolute;
right: 10px;
top: -92px; }
.p-top05__block01 {
margin-bottom: 20px; }
@media screen and (max-width: 767px) {
.p-top05__block01 {
margin-bottom: 25px; } }
.p-top05__block02 img {
width: calc(100% + 12px); }
.p-top05__block .c-title06 {
margin-bottom: 22px; }
@media screen and (max-width: 767px) {
.p-top05__block .c-title06 {
text-align: center;
font-size: 1.3rem;
margin-bottom: 14px; }
.p-top05__block .c-title06:before {
display: none; } }
.p-top05__table {
width: 100%;
font-size: 1.4rem;
font-family: "ShinGoPro", sans-serif;
border-collapse: collapse; }
@media screen and (max-width: 767px) {
.p-top05__table {
font-size: 1.2rem; } }
.p-top05__table tr:first-child th {
border-top: 1px solid #ddd; }
.p-top05__table th {
background-color: #f5f5f5;
border-bottom: 1px solid #ddd;
width: 116px;
padding: 29px 5px; }
.p-top05__table td {
border-bottom: 1px solid #ddd;
padding: 29px 30px; }
@media screen and (max-width: 767px) {
.p-top05__table th,
.p-top05__table td,
.p-top05__table tr {
float: left;
width: 100%; }
.p-top05__table th {
padding: 9px 10px 9px; }
.p-top05__table td {
padding: 15px 10px 14px;
text-align: center; } }
@media screen and (min-width: 768px) {
.p-top05__table tr:first-child td {
border-top: 1px solid #ddd; }
.p-top05__table tr:last-child td:nth-child(2) {
width: 315px; }
.p-top05__table tr:last-child td:nth-child(4) {
width: 209px; }
.p-top05__block02 .c-title06 {
padding-left: 10px; }
.p-top05__img {
margin-top: -58px; } }
@media screen and (max-width: 767px) {
.p-top05__img {
margin-bottom: 18px; } }
.p-top05__btn {
display: none;
background-color: #313131;
color: #fff;
text-align: center;
text-decoration: none;
font-size: 1.3rem;
font-family: "ShinGoPro", sans-serif;
border-radius: 30px;
padding: 12px 10px; }
@media screen and (max-width: 767px) {
.p-top05__btn {
display: block; } }
.p-top05__btn:before {
content: "";
width: 12px;
height: 13px;
background: url(../img/i_search.png) no-repeat center;
background-size: contain;
display: inline-block;
margin-right: 10px; }
@media screen and (max-width: 767px) {
.c-list3 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
.c-list3__item {
width: 50%; }
.c-list3__item:nth-child(odd) {
margin-right: 0 !important;
padding-right: 10px; }
.c-list3__item:nth-child(even) {
margin-right: 0 !important;
padding-left: 10px; } }
.c-list3 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
.c-list3__item:not(:last-child) {
margin-right: 30px; }
.p-top05__01 {
   background: url(../img/bg_104.png) no-repeat right top;
   padding: 148px 0 79px;
}
.p-top05__02 {
   background: url(../img/bg_105.png) no-repeat left 38px;
   padding: 0 0 50px;
}
/*p-topCV
------------------------------------------------------------*/
.p-topCV {
background: #009944;
padding: 39px 0 163px;
position: relative; }
@media screen and (max-width: 767px) {
.p-topCV {
padding: 20px; } }
.p-topCV__title {
margin-bottom: 21px; }
@media screen and (min-width: 768px) {
.p-topCV__title {
text-align: center; } }
@media screen and (max-width: 767px) {
.p-topCV__title {
top: -6px;
position: relative;
z-index: 2;
margin-bottom: 15px; }
.p-topCV__title img {
width: 100%; } }
.p-topCV__list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
@media screen and (max-width: 767px) {
.p-topCV__list {
display: block;
padding: 0; } }
.p-topCV__list li:not(:last-child) {
margin-right: 50px; }
@media screen and (max-width: 767px) {
.p-topCV__list li {
width: 100%; }
.p-topCV__list li img {
width: 100%; }
.p-topCV__list li:not(:last-child) {
margin-bottom: 19px; }
.p-topCV__list li:first-child > img:last-child {
margin-top: 17px; }
.p-topCV__list .c-btn02 a span {
padding: 13px 10px 11px;
text-align: center; } }
.p-topCV__imgTxt {
margin-bottom: 32px;
margin-top: 3px; }
.p-topCV .c-btn02 {
margin-bottom: 28px;
width: 100%; }
@media screen and (max-width: 767px) {
.p-topCV .c-btn02 {
margin-bottom: 19px; } }
.p-topCV__txt {
font-size: 1.2rem;
color: #fff;
font-family: "ShinGoPro", sans-serif;
line-height: 1.6; }
@media screen and (max-width: 767px) {
.p-topCV__txt {
font-size: 1.1rem; } }
.p-topCV__info {
position: absolute;
width: 1200px;
bottom: -72px;
z-index: 111; }
@media screen and (max-width: 767px) {
.p-topCV__info {
width: auto;
position: inherit; } }
.p-topCV__info--ttl {
font-size: 2.4rem;
color: #fff;
text-align: center;
margin-bottom: 9px; }
.p-topCV__info--box {
background: #fff;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
padding: 25px 40px;
-webkit-box-shadow: 17px 0px 18px -15px #d1d1d1;
box-shadow: 17px 0px 18px -15px #d1d1d1; }
@media screen and (max-width: 767px) {
.p-topCV__info--box {
display: block; } }
.p-topCV__info--txt {
font-size: 2rem;
color: #000;
line-height: 1.5;
width: 540px;
margin-right: 20px; }
@media screen and (max-width: 767px) {
.p-topCV__info--txt {
margin-bottom: 20px;
margin-right: 0;
width: auto; } }
.p-topCV__info .c-btn02 {
margin-bottom: 0;
width: 560px; }
.p-topCV .c-btn01 {
   width: 560px;
}
/*p-top06
------------------------------------------------------------*/
.p-top06 {
background-color: #ebf7f0;
text-align: center;
padding: 120px 0 103px; }
@media screen and (max-width: 767px) {
.p-top06 {
padding: 40px 20px; } }
/*p-top07
------------------------------------------------------------*/
.p-top07 {
background-color: #fff;
text-align: center;
padding: 94px 0 43px;
position: relative; }
@media screen and (max-width: 767px) {
.p-top07 {
padding: 40px 20px; } }
.p-top07:after {
content: "";
width: 0;
height: 0;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
border-top: 40px solid #009944;
position: absolute;
left: 50%;
bottom: -20px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%); }
.p-top07__img2 {
text-align: center; }
.p-top07__img2 {
position: absolute;
top: -263px;
left: 0; }
@media screen and (max-width: 767px) {
.p-top07__img2 {
display: none; } }
/*p-topForm
------------------------------------------------------------*/
.p-topForm {
padding: 72px 0 125px;
background: #f5f5f5; }
@media screen and (max-width: 767px) {
.p-topForm {
padding: 42px 25px; } }
.p-topForm__title {
text-align: center;
font-size: 4.2rem;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
color: #313131; }
@media screen and (max-width: 767px) {
.p-topForm__title {
font-size: 2.7rem;
line-height: 1; } }
.p-topForm__title strong {
font-family: vdl-logona, sans-serif;
font-weight: bold; }
.p-topForm__title--confirm {
padding: 15px 10px;
font-size: 2.6rem;
color: #FFF;
background: #009944; }
@media screen and (max-width: 767px) {
.p-topForm__title--confirm {
padding: 5px;
font-size: 1.3rem;
line-height: 2.8rem; } }
.p-topForm__txt01 {
font-size: 4.2rem;
line-height: 2.4rem;
color: #009944;
text-align: center;
font-family: "ShinGoPro", sans-serif;
font-weight: bold;
letter-spacing: 0.8px;
margin-top: 25px; }
@media screen and (max-width: 767px) {
.p-topForm__txt01 {
font-size: 1.3rem;
line-height: 1.6rem;
margin-top: 25px; } }
.p-topForm__txt02 {
text-align: center;
font-size: 1.6rem;
line-height: 2.4rem;
font-family: "ShinGoPro", sans-serif; }
@media screen and (max-width: 767px) {
.p-topForm__txt02 {
font-size: 1.1rem;
line-height: 1.6;
text-align: left;
padding-left: 16px; } }
.p-topForm__txt02 a {
text-decoration: none;
color: #009944; }
.p-topForm__txt02--tel {
color: #009944; }
.p-topForm .p-form {
padding-bottom: 1px; }
@media screen and (max-width: 767px) {
.p-topForm .p-form {
padding-bottom: 12px; } }
.p-topForm .p-form_txt02 {
font-size: 1.6rem;
font-family: "ShinGoPro", sans-serif;
margin: 54px 0 0 29px; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_txt02 {
font-size: 1.2rem;
margin: 33px 0 28px 0;
text-align: center;
padding: 0; } }
.p-topForm .p-form_txt02 .is-must {
margin-right: 6px;
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
transform: translateY(-3px); }
@media screen and (max-width: 767px) {
.p-topForm .p-form_txt02 .is-must {
-webkit-transform: translateY(-1px);
-ms-transform: translateY(-1px);
transform: translateY(-1px);
font-size: 0.7rem; } }
.p-topForm .p-form_txt03 {
font-size: 1.6rem;
line-height: 2.4rem;
font-family: "ShinGoPro", sans-serif;
margin: 0 0 0 29px; }
.p-topForm .p-form_txt04 {
font-size: 1.6rem;
line-height: 2.4rem;
font-family: "ShinGoPro", sans-serif;
margin: 15px 0 0 29px; }
.p-topForm .p-form_txt04:nth-child(1) {
margin-top: 0 !important; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_txt03 {
font-size: 1.1rem;
line-height: 1.8rem;
margin: 0;
padding: 0; }
.p-topForm .p-form_txt04 {
font-size: 1.1rem;
line-height: 1.8rem;
margin: 0;
padding: 0; } }
.p-topForm .p-form_tbl {
margin-top: 3px;
margin-bottom: 78px;
border-bottom: 1px solid #dddddd;
border-top: 0;
border-left: 0;
border-right: 0; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl {
margin-bottom: 30px; } }
.p-topForm .p-form_tbl_cell {
border-top: 1px solid #dddddd;
border-bottom: 0;
border-left: 0;
border-right: 0; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell {
border: 0;
padding: 0 0 20px;
width: 100%;
float: left; } }
.p-topForm .p-form_tbl_cell input[type="text"],
.p-topForm .p-form_tbl_cell input[type="tel"],
.p-topForm .p-form_tbl_cell input[type="email"],
.p-topForm .p-form_tbl_cell input[type="url"] {
width: calc(100% - 10px);
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-size: 1.6rem;
line-height: 2.4rem;
padding: 24px 30px;
background: #ededed;
font-family: "ShinGoPro", sans-serif;
font-weight: normal; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell input[type="text"],
.p-topForm .p-form_tbl_cell input[type="tel"],
.p-topForm .p-form_tbl_cell input[type="email"],
.p-topForm .p-form_tbl_cell input[type="url"] {
font-size: 1.3rem;
line-height: 1.5;
width: 100%;
padding: 12px 15px 12px;
-webkit-box-shadow: none;
box-shadow: none; } }
.p-form_tbl__select {
background: url(../../assets/img/i_select.jpg) no-repeat center right;
width: 410px;
border: 1px solid #aaaaaa; }
.p-form_tbl__select select {
background: transparent;
font-size: 1.6rem;
height: 72px;
width: 100%;
padding: 5px 75px 5px 31px;
color: #313131;
border: none;
text-transform: none;
-webkit-appearance: none; }
@media screen and (max-width: 767px) {
.p-form_tbl__select select {
height: 42px;
font-size: 1.2rem;
padding-left: 15px; } }
@media screen and (max-width: 767px) {
.p-form_tbl__select {
width: 100%; } }
.p-form_tbl__select select::-ms-expand {
display: none; }
.p-form_tbl_cell__list {
padding: 11px 0; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list {
padding: 0; } }
.p-form_tbl_cell__list > li:first-child {
padding-top: 0;
padding-bottom: 28px; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list > li:first-child {
padding-bottom: 10px; } }
.p-form_tbl_cell__list > li:last-child {
padding-bottom: 0; }
.p-form_tbl_cell__list > li {
padding: 22px 0; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list > li {
padding: 15px 0; } }
@media screen and (min-width: 768px) {
.p-form_tbl_cell__list > li:not(:last-child) {
border-bottom: 1px solid #ddd; } }
.p-form_tbl_cell__list .c-title06 {
font-size: 2.4rem;
font-weight: bold; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list .c-title06 {
font-size: 1.3rem; }
.p-form_tbl_cell__list .c-title06:before {
width: 10px;
height: 10px; } }
.p-form_tbl_cell__list .c-title06:before {
vertical-align: top; }
.p-form_tbl_cell__list-title {
font-size: 1.4rem;
font-weight: bold;
font-family: "ShinGoPro", sans-serif;
position: relative;
padding-left: 22px;
margin-bottom: 16px; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list-title {
font-size: 1.1rem;
padding-left: 11px; } }
.p-form_tbl_cell__list-title i {
width: 15px;
height: 15px;
position: absolute;
left: 0; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list-title i {
width: 8px;
height: 8px; }
.p-form_tbl_cell__list-title {
margin-bottom: 10px; } }
.p-form_tbl_cell__list-title i:after {
content: "";
position: absolute;
background-color: #2ea35e;
-webkit-transition: -webkit-transform 0.25s ease-out;
transition: -webkit-transform 0.25s ease-out;
transition: transform 0.25s ease-out;
transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
.p-form_tbl_cell__list-title i:after {
top: 50%;
left: 0;
width: 100%;
height: 3px;
margin-top: -2px; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list-title i:after {
height: 2px;
margin-top: -1px; } }
.p-form_tbl_cell__list ul .p-form_tbl_cell__listHide {
padding: 20px 0 0 40px;
display: none; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__list ul .p-form_tbl_cell__listHide {
padding: 0; }
.p-form_tbl_cell__listHide li input[type='checkbox'] + label {
border: transparent; } }
.p-form_tbl_cell__listHide input[type='url'] {
height: 54px; }
.p-form_tbl_cell__listHide span {
font-size: 1.2rem; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell__listHide span {
display: block;
font-size: 0.9rem; } }
.p-form_tbl_cell textarea {
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
line-height: 2.4rem;
background: #ededed;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
resize: none; }
.p-form_tbl_cell textarea#fConsult {
width: calc(100% - 10px);
padding: 23px 30px 43px;
font-size: 1.6rem; }
@media screen and (max-width: 767px) {
.p-form_tbl_cell textarea {
font-size: 1.2rem;
width: 100%;
padding: 9px 20px;
height: 200px;
-webkit-box-shadow: none;
box-shadow: none; }
.p-form_tbl_cell textarea#fConsult {
padding: 15px 10px 30px;
font-size: 1.3rem; } }
.p-topForm .p-form_tbl_cell textarea#fOther {
width: calc(100% - 10px);
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-size: 1.6rem;
line-height: 2.4rem;
padding: 20px 30px;
background: #ededed;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
height: 135px;
resize: none; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell textarea#fOther {
width: 100%;
font-size: 1.2rem;
line-height: 1.5;
padding: 9px 20px;
-webkit-box-shadow: none;
box-shadow: none;
height: 200px;
margin-top: 11px; } }
.p-topForm .p-form_tbl_cell.is-head {
background: #f5f5f5;
padding: 45px 0px 45px 31px;
width: 330px; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell.is-head {
width: 100%;
border-top: 1px solid #dddddd;
border-bottom: 0;
padding: 15px 0px; } }
.p-topForm .p-form_tbl_cell .is-label {
font-size: 1.6rem;
line-height: 2.4rem;
width: 257px;
text-align: left; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-label {
width: auto;
font-size: 1.2rem;
line-height: 1.9rem;
padding-right: 11px; } }
.p-topForm .p-form_tbl_cell .is-label label span {
font-weight: normal; }
.p-topForm .p-form_tbl_cell .is-radio li.active,
.p-topForm .p-form_tbl_cell .is-check li.active {
position: relative; }
.p-topForm .p-form_tbl_cell .is-radio li.active:before,
.p-topForm .p-form_tbl_cell .is-check li.active:before {
content: "";
width: calc(100% - 4px);
height: calc(100% - 4px);
border: 2px solid #009944;
background: transparent;
position: absolute;
top: 0;
left: 0;
display: none;
z-index: 1; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li.active:before,
.p-topForm .p-form_tbl_cell .is-check li.active:before {
display: block; } }
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"],
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"],
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"],
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] {
display: none; }
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"] + label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"] + label:before {
content: "";
width: 30px;
height: 30px;
border-radius: 50%;
background: #d0d0d0;
position: absolute;
left: 0;
top: 0;
visibility: visible; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"] + label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"] + label:before {
width: 11px;
height: 11px;
border-radius: 50%;
border: 2px solid #d2d2d2;
background: #FFF;
left: 12px;
top: 18px; } }
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"] + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"] + label:after {
content: "";
width: 16px;
height: 16px;
border-radius: 50%;
background: #009944;
position: absolute;
left: 7px;
top: 7px;
visibility: hidden; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"] + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"] + label:after {
width: 15px;
height: 15px;
background: url("../img/icon05.png") no-repeat center;
background-size: cover;
border-radius: 50%;
left: 12px;
top: 18px; } }
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"] + label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] + label:before {
content: "";
width: 30px;
height: 30px;
background: #d0d0d0;
position: absolute;
border-radius: 3px;
left: 0;
top: 0;
visibility: visible; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"] + label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] + label:before {
width: 11px;
height: 11px;
border: 2px solid #d2d2d2;
background: #FFF;
left: 12px;
top: 19px; } }
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"] + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] + label:after {
content: "";
width: 9px;
height: 20px;
border-right: 3px solid #009944;
border-top: 3px solid #009944;
-webkit-transform: scaleX(-1) rotate(135deg);
-ms-transform: scaleX(-1) rotate(135deg);
transform: scaleX(-1) rotate(135deg);
position: absolute;
left: 9px;
top: 1px;
visibility: hidden; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"] + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] + label:after {
width: 3px;
height: 7px;
border-right: 2px solid #009944;
border-top: 2px solid #009944;
-webkit-transform: scaleX(-1) rotate(135deg);
-ms-transform: scaleX(-1) rotate(135deg);
transform: scaleX(-1) rotate(135deg);
left: 17px;
top: 21px; } }
.p-topForm .p-form_tbl_cell .is-radio li label,
.p-topForm .p-form_tbl_cell .is-check li label {
position: relative;
padding-left: 42px;
font-size: 1.6rem;
min-height: 30px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
line-height: 1.9; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li label,
.p-topForm .p-form_tbl_cell .is-check li label {
font-size: 1.2rem;
min-height: auto;
padding: 15px 10px 15px 40px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"] + label,
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"] + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"] + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] + label {
border-top: 1px solid #CCC;
display: block; }
.p-topForm .p-form_tbl_cell .is-check .listing + label {
border-top: none !important; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked + label,
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked + label,
.p-topForm .p-form_tbl_cell .is-check .listing:checked + label {
padding: 14px 9px 14px 39px;
border: 2px solid #009944 !important; } }
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked + label:after,
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked + label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked + label:after {
visibility: visible; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked + label,
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked + label,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked + label {
z-index: 10; } }
.p-topForm .p-form_tbl_cell .is-radio li textarea#fOther02,
.p-topForm .p-form_tbl_cell .is-check li textarea#fOther02 {
width: calc(100% - 10px);
border: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-size: 1.6rem;
line-height: 2.4rem;
padding: 24px 30px;
background: #ededed;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
margin-top: 8px;
resize: none; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li textarea#fOther02,
.p-topForm .p-form_tbl_cell .is-check li textarea#fOther02 {
width: 100%;
font-size: 1.2rem;
line-height: 1.5;
padding: 9px 20px;
-webkit-box-shadow: none;
box-shadow: none;
height: 90px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio li {
margin-top: -2px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-radio {
margin-top: 10px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-check li {
margin-top: -2px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_tbl_cell .is-check {
margin-top: 13px; } }
.p-topForm .p-form_tbl .is-error .is-head {
background: #FFF; }
.p-topForm .p-form .is-must {
background: #009944;
border: 1px solid #009944; }
@media screen and (max-width: 767px) {
.p-topForm .p-form .is-must {
position: static;
font-size: 0.7rem;
width: 25px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form .is-any {
position: static;
font-size: 0.7rem;
width: 25px; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form .is-cell {
vertical-align: top; } }
@media screen and (max-width: 767px) {
.p-topForm .p-form_submit {
margin: 0; } }
.p-topForm .p-form_submit_btn {
width: 525px; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_submit_btn {
width: 100%; }
.p-form_submit_btn .c-btn01 a span {
padding: 12px 42px 12px 46px; } }
.p-topForm .p-form_submit_btn_anchor {
font-size: 3rem;
color: #FFF;
width: 100%;
padding: 21px 80px 16px;
letter-spacing: 2.5px; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_submit_btn_anchor {
padding: 7px 42px 7px 46px;
font-size: 1.743rem;
letter-spacing: 1px; } }
.p-topForm .p-form_submit_btn_anchor:after {
width: 33px;
height: 7px;
background: url("/assets/img/icon_arrow06.png") no-repeat;
background-size: cover;
position: absolute;
top: calc(50% - 3.5px);
right: 49px;
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
margin-top: 0; }
@media screen and (max-width: 767px) {
.p-topForm .p-form_submit_btn_anchor:after {
width: 19px;
height: 4px;
top: calc(50% - 2px);
right: 22px; } }
.p-topForm .p-form_submit_btn_anchor:hover {
color: #ee5f09; }
.p-topForm .p-form_submit_btn_anchor:hover:after {
background: url("/assets/img/icon_arrow07.png") no-repeat; }
.p-topConfirm {
padding-top: 66px; }
@media screen and (max-width: 767px) {
.p-topConfirm {
padding-top: 46px; } }
.p-topConfirm .p-topForm {
padding-top: 40px; }
@media screen and (max-width: 767px) {
.p-topConfirm .p-topForm {
padding-top: 20px; } }
.p-topConfirm .p-form_tbl {
margin-top: 30px; }
.p-topConfirm .p-form_submit {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center; }
@media screen and (max-width: 767px) {
.p-topConfirm .p-form_submit {
display: block; } }
.p-topConfirm .p-form_submit .p-form_submit_btn {
margin-left: 20px;
margin-right: 20px;
width: 300px; }
@media screen and (max-width: 767px) {
.p-topConfirm .p-form_submit .p-form_submit_btn {
margin-left: 0;
margin-right: 0;
width: 100%; } }
.p-topConfirm .p-form_submit .p-form_submit_btn:first-child {
margin-bottom: 10px; }
.p-topConfirm .p-form_submit .p-form_submit_btn .c-btn04 {
width: 100%; }
.p-topConfirm .p-form_submit .p-form_submit_btn .c-btn04 a span {
padding-left: 20px;
padding-right: 20px; }
.p-topConfirm {
background: #f5f5f5; }
.p-topConfirm .p-topForm__title {
color: #009944; }
.p-topConfirm .p-topForm__title--confirm {
color: #FFF; }
.p-topConfirm .p-topForm__txt01 {
padding: 0;
color: #313131;
font-size: 1.8rem;
font-weight: normal; }
.c-list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap; }
@media screen and (max-width: 767px) {
.c-list {
display: block; } }
.c-list__item {
width: 380px;
background: #FFF;
margin-left: 30px;
margin-bottom: 49px;
padding: 14px 40px 32px;
position: relative; }
@media screen and (max-width: 767px) {
.c-list__item {
width: 100%;
margin-left: 0;
padding: 24px 25px 22px;
margin-bottom: 34px; } }
.c-list__item:nth-child(3n+1) {
margin-left: 0; }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(2) .c-list__img {
top: 8px; } }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(3) .c-list__img {
top: 10px; } }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(4) .c-list__img {
top: 8px;
right: 28px; } }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(5) .c-list__img {
top: 3px;
right: 28px; } }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(6) {
margin-bottom: 0; } }
@media screen and (max-width: 767px) {
.c-list__item:nth-of-type(6) .c-list__img {
top: 11px;
right: 38px; } }
.c-list__number {
position: absolute;
top: -33px;
right: 30px; }
@media screen and (max-width: 767px) {
.c-list__number {
top: -23px;
right: auto;
left: 26px; } }
@media screen and (max-width: 767px) {
.c-list__number img {
width: 30px;
height: 33px; } }
.c-list__img {
margin-bottom: 9px;
min-height: 143px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center; }
@media screen and (max-width: 767px) {
.c-list__img {
margin-bottom: 0;
min-height: auto;
display: block;
position: absolute;
top: 15px;
right: 25px; } }
.c-list__ttl {
text-align: center;
font-family: "ShinGoPro-DeBold", sans-serif;
font-weight: bold;
font-size: 2.2rem;
line-height: 2.8rem;
color: #232323;
margin-bottom: 18px; }
@media screen and (max-width: 767px) {
.c-list__ttl {
font-size: 1.6rem;
line-height: 2.1rem;
text-align: left;
margin-bottom: 12px;
position: relative; } }
.c-list__txt {
font-size: 1.4rem;
line-height: 2.8rem;
color: #333333;
font-family: "ShinGoPro", sans-serif;
font-weight: normal;
letter-spacing: 0.3px; }
@media screen and (max-width: 767px) {
.c-list__txt {
font-size: 1.3rem;
line-height: 1.8rem; } }
.c-title06 {
font-family: "ShinGoPro-DeBold", sans-serif;
font-size: 1.8rem;
color: #232323;
line-height: 1; }
.c-title06:before {
content: "";
width: 21px;
height: 21px;
background: url(../img/i_title.png) no-repeat;
background-size: contain;
display: inline-block;
vertical-align: bottom;
margin-right: 10px; }
.c-list2 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center; }
.c-list2__item {
margin-bottom: 40px; }
.c-list2__item:not(:nth-child(3n)) {
margin-right: 30px; }
@media screen and (max-width: 767px) {
.c-list2__item:not(:nth-child(3n)) {
margin-right: 0; } }
.c-list2__item:nth-child(5n) {
margin-right: 0; }