@charset "UTF-8";
/*--------------------------------------------------------------------
// index
---------------------------------------------------------------------*/
.p-present {
  background: #6DB82B; }

.p-present_in {
  position: relative; }

.p-present_ttl {
  position: absolute;
  left: 50%;
  text-align: center; }

.p-present_goods_box_ttl, .p-present_goods_ttl {
  color: #f7681d;
  font-weight: bold;
  text-align: center;
  line-height: 1.25; }

.p-present_goods_box_ttl .is-min, .p-present_goods_ttl .is-min {
  color: #111; }

.p-present_goods_box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  text-align: center;
  color: #f7691d;
  font-weight: bold;
  position: relative; }
  .p-present_goods_box:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .p-present_goods_box span {
    display: block; }

.p-present_goods_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.p-present_goods_box_txt {
  color: #fff;
  font-weight: bold; }

.p-present_btn {
  text-align: center;
  position: relative; }

.p-present_btn_anchor {
  background: #f7691d;
  border: 2px solid #f7691d;
  border-radius: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }
  .p-present_btn_anchor:after {
    background: url(../img/icon_arrow01.png) no-repeat;
    position: absolute;
    top: 50%;
    content: ""; }

.p-present_btn_txt {
  margin: 0 auto 8px;
  display: block; }

.p-present_btn_date {
  color: #FFF; }

.p-present_txt {
  text-align: center; }

.p-present_notes {
  color: #FFF;
  text-align: center; }

@media only screen and (min-width: 737px) {
  .p-present.last {
    padding-bottom: 25px; }
  .p-present_in {
    padding: 132px 0 16px; }
  .p-present_ttl {
    margin-left: -273px;
    margin-bottom: 5px;
    top: -24px; }
  .p-present_ttl_com {
    margin-bottom: 25px;
    display: block; }
  .p-present_goods {
    margin-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  .p-present_goods_item {
    width: 295px; }
    .p-present_goods_item:nth-child(2) .p-present_goods_box_txt {
      margin: 0 0 0 8px; }
    .p-present_goods_item:nth-child(3) .p-present_goods_box_txt {
      margin: -10px 0 0 0; }
  .p-present_goods_box {
    height: 80px;
    border: 5px solid #fcc3a5;
    font-size: 1.7rem;
    padding: 13px 0 0;
    line-height: 1.4;
    margin-bottom: 44px; }
    .p-present_goods_box:after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 10px solid #fcc3a5;
      bottom: -13px; }
    .p-present_goods_box span {
      font-size: 1.2rem;
      line-height: 2; }
  .p-present_goods_box_img {
    width: 50%; }
  .p-present_goods_box_txt {
    width: 50%;
    font-size: 1.2rem;
    padding: 18px 0 0 18px; }
  .p-present_btn {
    margin: 0 auto 17px;
    width: 480px; }
  .p-present_btn_anchor {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 19px 20px 16px;
    width: 480px;
    z-index: 3;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease; }
    .p-present_btn_anchor:after {
      margin-top: -5px;
      width: 25px;
      height: 15px;
      right: 38px; }
    .p-present_btn_anchor:hover {
      border: 2px solid #f7691d;
      background: #FFF; }
      .p-present_btn_anchor:hover:after {
        background: url(../img/icon_arrow02.png) no-repeat; }
      .p-present_btn_anchor:hover .p-present_btn_txt {
        background: url(../img/present_btn_on.png) no-repeat top center; }
        .p-present_btn_anchor:hover .p-present_btn_txt img {
          opacity: 0; }
      .p-present_btn_anchor:hover .p-present_btn_date {
        color: #111; }
  .p-present_btn_txt {
    width: 278px; }
  .p-present_btn_date {
    font-size: 1.6rem; }
  .p-present_txt {
    margin: -6px 0 21px; }
    .p-present_txt .sp_hide {
      display: inline-block; }
  .p-present_notes {
    margin-bottom: 14px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center; } }

@media only screen and (max-width: 736px) {
  .p-present.last {
    padding-bottom: 20px; }
  .p-present_in {
    padding: 71px 15px 7px;
    position: relative; }
  .p-present_ttl {
    margin-left: -138px;
    top: -12px; }
  .p-present_ttl_img {
    max-width: 100%; }
  .p-present_ttl_com {
    margin-bottom: 13px;
    display: block; }
    .p-present_ttl_com img {
      width: 210px; }
  .p-present_goods_item {
    margin-bottom: 13px; }
  .p-present_goods_box {
    height: 64px;
    border: 3px solid #fcc3a5;
    margin-bottom: 14px;
    padding: 10px 5px 0;
    font-size: 1.6rem;
    line-height: 1.2; }
    .p-present_goods_box:after {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 9px solid #fcc3a5;
      bottom: -11px; }
    .p-present_goods_box span {
      font-size: 1.2rem;
      line-height: 1.5; }
  .p-present_goods_box_txt {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    font-size: 1.2rem;
    padding: 10px 0 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .p-present_btn {
    margin: 0 auto 10px; }
    .p-present_btn.pc_hide {
      display: block; }
  .p-present_btn_anchor {
    padding: 13px 10px; }
    .p-present_btn_anchor:after {
      margin-top: -5px;
      width: 17px;
      height: 10px;
      background-size: 17px 10px;
      right: 20px; }
  .p-present_btn_txt {
    width: 190px;
    margin-bottom: 5px; }
  .p-present_btn_date {
    font-size: 1rem; }
  .p-present_txt {
    margin: 28px 0 12px; }
  .p-present_notes {
    padding-left: 1em;
    text-indent: -1em;
    font-size: 0.9rem; } }

.p-trouble {
  background: #E3F2D7; }

.p-trouble_ttl {
  text-align: center; }

.p-trouble_list {
  background-color: #fff;
  border: 1px solid #6db82b; }

.p-trouble_list_item {
  line-height: 1.5;
  position: relative;
  color: #111111; }
  .p-trouble_list_item:before {
    content: "";
    background: #6db82b;
    position: absolute;
    border-radius: 50px; }
  .p-trouble_list_item span {
    font-weight: bold; }

@media only screen and (min-width: 737px) {
  .p-trouble_in {
    padding: 79px 0 59px; }
  .p-trouble_ttl {
    margin-bottom: 40px; }
    .p-trouble_ttl img {
      margin: 0 auto; }
  .p-trouble_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    padding: 28px 20px 18px 136px; }
    .p-trouble_list:after {
      content: "";
      width: 137px;
      height: 180px;
      background: url(../img/seo_img.png) no-repeat;
      position: absolute;
      top: 22px;
      left: -18px; }
  .p-trouble_list_item {
    font-size: 1.6rem;
    width: 45%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 8px;
    letter-spacing: -0.7px; }
    .p-trouble_list_item:before {
      width: 7px;
      height: 7px;
      top: 7px;
      left: -17px; }
  .p-trouble_list_item--1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .p-trouble_list_item--2 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .p-trouble_list_item--3 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .p-trouble_list_item--4 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .p-trouble_list_item--5 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .p-trouble_list_item--6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }

@media only screen and (max-width: 736px) {
  .p-trouble_in {
    padding: 29px 15px 30px; }
  .p-trouble_ttl {
    margin-bottom: 15px; }
  .p-trouble_list {
    padding: 10px 11px;
    position: relative;
    z-index: 2; }
    .p-trouble_list:after {
      content: "";
      width: 112px;
      height: 90%;
      max-height: 147px;
      background: url(../img/seo_img_sp.png) no-repeat right bottom;
      background-size: auto 100%;
      position: absolute;
      bottom: 0;
      right: 5px;
      z-index: -1; }
  .p-trouble_list_item {
    font-size: 1.2rem;
    padding-left: 13px;
    margin-bottom: 3px; }
    .p-trouble_list_item:before {
      width: 4.5px;
      height: 4.5px;
      top: 8px;
      left: 3px; } }

@media only screen and (min-width: 737px) {
  .p-structure {
    padding: 40px 0 85px;
    background-image: url(../img/bg03.png); }
  .p-structure_in {
    margin: auto;
    width: 960px; }
  .p-structure_in_txt {
    margin-left: -1px;
    padding-top: 79px;
    float: left; }
  .p-structure_in_img {
    margin-top: 20px;
    float: right; } }

@media only screen and (max-width: 736px) {
  .p-structure {
    padding: 30px 0 43px;
    background: url(../img/structure_bg.png) no-repeat;
    background-size: cover;
    text-align: center; }
  .p-structure_in_txt {
    margin-bottom: 21px; }
  .p-structure_in_img img {
    width: 220px; } }

.p-solution {
  background: #e3f2d7; }

.p-solution_ttl {
  text-align: center; }

@media only screen and (min-width: 737px) {
  .p-solution_in {
    padding: 60px 0 59px; }
  .p-solution_ttl {
    margin-bottom: 30px; }
    .p-solution_ttl img {
      margin: 0 auto; }
  .solutionBox {
    text-align: left; }
    .solutionBox .clearFix:after {
      height: 0;
      visibility: hidden;
      content: ".";
      display: block;
      clear: both; }
    .solutionBox button {
      margin-left: 15px;
      padding: 0 10px 0 30px;
      width: 310px;
      height: 110px;
      background: url(../img/bg02.png) no-repeat;
      border: none;
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      position: relative;
      text-align: left;
      text-decoration: none;
      line-height: 1.375;
      cursor: pointer;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease; }
      .solutionBox button.new:before {
        width: 51px;
        height: 51px;
        background: url(../img/new.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        content: ""; }
      .solutionBox button:first-child {
        margin-left: 0; }
      .solutionBox button span {
        height: 68px;
        display: table-cell;
        vertical-align: middle;
        color: #111;
        font-size: 16px;
        font-weight: bold;
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px); }
        .solutionBox button span.min {
          font-size: 15px; }
      .solutionBox button.active, .solutionBox button:hover {
        background: url(../img/bg02_open.png) no-repeat; }
      .solutionBox button.active span, .solutionBox button:hover span {
        color: #fff; }
      .solutionBox button:after {
        content: "";
        width: 26px;
        height: 26px;
        background: url(../img/icon01.png) no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 40px;
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease; }
      .solutionBox button:hover:after {
        background: url(../img/icon01_over.png) no-repeat; }
      .solutionBox button.active:after {
        background: url(../img/icon02.png) no-repeat; }
    .solutionBox .txt {
      margin: 38px 0 22px;
      padding: 35px 31px;
      font-size: 16px;
      line-height: 1.75;
      display: none;
      position: relative;
      color: #333; }
      .solutionBox .txt.active {
        background: #fff;
        display: block; }
        .solutionBox .txt.active:before {
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          content: ""; }
    .solutionBox .txt01.active:before, .solutionBox .txt02.active:before, .solutionBox .txt03.active:before {
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #fff transparent;
      top: -10px; }
    .solutionBox .txt04.active:before, .solutionBox .txt05.active:before, .solutionBox .txt06.active:before {
      border-width: 10px 10px 0 10px;
      border-color: #fff transparent transparent transparent;
      bottom: -10px; }
    .solutionBox .txt01.active:before, .solutionBox .txt04.active:before {
      left: 150px; }
    .solutionBox .txt02.active:before, .solutionBox .txt05.active:before {
      left: 470px; }
    .solutionBox .txt03.active:before, .solutionBox .txt06.active:before {
      left: 800px; } }

@media only screen and (max-width: 736px) {
  .p-solution_in {
    padding: 30px 15px; }
  .p-solution_ttl {
    margin-bottom: 21px; }
  .accordion {
    width: 100%; }
  .accordion_item {
    position: relative;
    z-index: 2;
    margin-bottom: 15px; }
  .accordion_ttl {
    background: #fff;
    border: 1px solid #6db82b;
    display: block;
    width: 100%;
    min-height: 48px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    color: #111;
    position: relative;
    padding: 5px 30px 5px 15px;
    margin-bottom: 8px; }
    .accordion_ttl:before {
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid #6db82b;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: -1; }
    .accordion_ttl.new:after {
      content: "";
      width: 28px;
      height: 28px;
      background: url(../img/new_sp.png) no-repeat;
      background-size: cover;
      position: absolute;
      top: -1px;
      left: -1px; }
    .accordion_ttl span:after {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../img/icon01.png) no-repeat center;
      background-size: cover;
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .accordion_ttl.active {
      background: #6db82b;
      color: #fff; }
      .accordion_ttl.active span:after {
        background: url(../img/icon02.png) no-repeat center;
        background-size: cover; }
  .accordion_txt {
    display: none;
    padding-top: 10px; }
    .accordion_txt p {
      background: #fff;
      font-size: 1.3rem;
      color: #333;
      position: relative;
      padding: 14px 16px 10px; }
      .accordion_txt p:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        top: -9px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .accordion_txt.active {
      display: block; } }

.p-support {
  background-image: url(../img/bg03.png); }

.p-support_ttl {
  text-align: center; }

.p-support_list {
  background: #fff;
  color: #000; }
  .p-support_list li {
    position: relative; }
    .p-support_list li:before {
      content: "";
      position: absolute;
      background-image: url(../img/icon03.png);
      background-size: cover; }
    .p-support_list li.et:before {
      content: none; }

@media only screen and (min-width: 737px) {
  .p-support_in {
    padding: 59px 0 105px; }
  .p-support_ttl {
    margin-bottom: 39px; }
    .p-support_ttl img {
      margin: 0 auto; }
  .p-support_list {
    position: relative;
    border: 3px solid #ddd;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    font-size: 1.4rem;
    line-height: 1.6;
    padding: 29px 0 21px; }
    .p-support_list:before, .p-support_list:after {
      content: "";
      width: 1px;
      height: 100%;
      background: #ddd;
      position: absolute;
      top: 0; }
    .p-support_list:before {
      left: 317px; }
    .p-support_list:after {
      left: 636px; }
    .p-support_list li {
      padding: 0 7px 0 58px;
      margin-bottom: 12px;
      overflow: hidden; }
      .p-support_list li:before {
        width: 18px;
        height: 18px;
        top: 2px;
        left: 30px; } }

@media only screen and (max-width: 736px) {
  .p-support {
    background-size: 14px; }
  .p-support_in {
    padding: 30px 15px 41px; }
  .p-support_ttl {
    margin-bottom: 14px; }
  .p-support_list {
    border: 2px solid #ddd;
    padding: 12px 12px 8px; }
    .p-support_list li {
      font-size: 1.2rem;
      padding-left: 25px;
      margin-bottom: 2px; }
      .p-support_list li:before {
        width: 12px;
        height: 12px;
        top: 2px;
        left: 2px; } }

/*--------------------------------------------------------------------
// フォーム
---------------------------------------------------------------------*/
.p-form_ttl {
  background: #f7691d;
  color: #FFF;
  text-align: center; }

.p-form .is-must {
  width: 30px;
  border-radius: 3px;
  background: #6EB92B;
  border: 1px solid #6EB92B;
  display: inline-block;
  color: #fff;
  font-weight: normal;
  text-align: center; }

.p-form .is-any {
  width: 30px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  color: #999;
  font-weight: normal;
  text-align: center; }

.p-form_submit_btn {
  text-align: center;
  position: relative; }

.p-form_submit_btn_anchor {
  background: #f7691d;
  border: 2px solid #f7691d;
  border-radius: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }
  .p-form_submit_btn_anchor:after {
    background: url(../img/icon_arrow01.png) no-repeat;
    position: absolute;
    top: 50%;
    content: ""; }

.p-form_submit_btn_anchor2 {
  background: #b1b1b1;
  border: 2px solid #b1b1b1;
  border-radius: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }

.p-form_submit_btn_anchor3 {
  background: #6EB92B;
  border: 2px solid #6EB92B;
  border-radius: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }

.p-form_submit_btn_anchor2:before, .p-form_submit_btn_anchor3:after {
  background: url(../img/icon_arrow01.png) no-repeat;
  position: absolute;
  top: 50%;
  content: ""; }

.p-form_submit_btn_txt {
  margin: 0 auto 10px;
  display: block; }

.p-form_submit_btn_date {
  color: #FFF; }

.p-form_tbl_cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle; }
  .p-form_tbl_cell.is-head, .p-form_tbl_cell.is-head2 {
    background: #F4F4F4;
    font-weight: normal; }
  .p-form_tbl_cell input[type="text"], .p-form_tbl_cell input[type="tel"], .p-form_tbl_cell input[type="email"], .p-form_tbl_cell input[type="url"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #D6D6D6;
    line-height: 1.5; }
  .p-form_tbl_cell textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5; }
    .p-form_tbl_cell textarea::-webkit-input-placeholder {
      color: #999; }

.p-form_tbl .is-error .is-head {
  background: #FDD; }

.p-form_tbl .is-error .p-form_tbl_cell input[type="text"], .p-form_tbl .is-error .p-form_tbl_cell input[type="tel"], .p-form_tbl .is-error .p-form_tbl_cell input[type="email"], .p-form_tbl .is-error .p-form_tbl_cell input[type="url"] {
  background: #FEE;
  border: 2px solid #D90000; }

.p-form_tbl .p-form_tbl_cell .is-error input[type="url"] {
  background: #FEE;
  border: 2px solid #D90000; }

.p-form_tbl .is-error .p-form_tbl_cell textarea {
  background: #FEE;
  border: 2px solid #D90000; }

.p-form_tbl .is-error .p-form_tbl_cell .is-error {
  margin: 10px 0 3px; }

.p-form_tbl .p-form_tbl_cell p.is-error {
  margin: 10px 0 3px;
  color: #D80000; }

.p-form_notes {
  text-align: center; }
  .p-form_notes a {
    color: #6CB82B;
    font-weight: bold;
    text-decoration: none; }

/*--------------------------------------------------------------------
// thanksページ
---------------------------------------------------------------------*/
.p-thanks_ttl {
  background: #040404;
  color: #FFF;
  text-align: center; }

.p-thanks_txt a {
  color: #6CB82B;
  font-weight: bold;
  text-decoration: none; }

.p-thanks_txt p {
  line-height: 2; }

.p-thanks_txt .is-bold {
  font-weight: bold; }

.p-thanks_website_anchor, .p-thanks_topbtn_anchor {
  border-radius: 100px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

.p-thanks_website_anchor:after, .p-thanks_topbtn_anchor:after {
  position: absolute;
  top: 50%;
  content: "";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.p-thanks_website_anchor {
  color: #212121;
  line-height: 1.25; }
  .p-thanks_website_anchor:after {
    background: url(../img/icon_arrow03.png) no-repeat; }

.p-thanks_website_logo {
  display: table-cell;
  vertical-align: middle; }

.p-thanks_website_txt {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold; }

.p-thanks_topbtn_anchor {
  background: #6EB92B;
  color: #FFF;
  font-weight: bold;
  text-align: center; }
  .p-thanks_topbtn_anchor:after {
    background: url(../img/icon_arrow01.png) no-repeat; }

/*--------------------------------------------------------------------
// フォーム　min-width 737px
---------------------------------------------------------------------*/
@media only screen and (min-width: 737px) {
  .p-form {
    padding-bottom: 70px; }
  .p-form_ttl {
    padding: 21px 0 15px;
    font-size: 4rem; }
  .p-form .is-must {
    padding: 1px 0;
    font-size: 1.2rem;
    line-height: 1; }
  .p-form_txt {
    padding: 56px 0 34px;
    font-size: 1.6rem;
    text-align: center; }
  .p-form_txt2 {
    padding: 10px 0 34px;
    font-size: 1.6rem;
    text-align: center; }
  .p-form_txt02 {
    margin-bottom: 17px;
    font-size: 1.4rem; }
    .p-form_txt02 .is-must {
      margin-right: 2px; }
  .p-form_tbl {
    margin-bottom: 40px;
    width: 100%;
    border: 3px solid #ddd;
    border-collapse: collapse; }
  .p-form_tbl_cell {
    padding: 21px 20px 20px;
    border: 1px solid #DDD;
    font-size: 1.4rem; }
    .p-form_tbl_cell.is-head, .p-form_tbl_cell.is-head2 {
      width: 298px;
      padding: 25px 0px 24px 17px;
      font-weight: bold; }
    .p-form_tbl_cell .is-must, .p-form_tbl_cell .is-any {
      padding: 1px 0;
      width: 30px;
      font-size: 1.2rem;
      line-height: 1; }
    .p-form_tbl_cell .is-cell {
      display: table-cell;
      vertical-align: middle; }
    .p-form_tbl_cell .is-label {
      display: table-cell;
      vertical-align: middle;
      width: 234px;
      line-height: 1.6; }
    .p-form_tbl_cell .is-radio li {
      margin-top: 20px;
      font-size: 1.4rem; }
      .p-form_tbl_cell .is-radio li:first-child {
        margin-top: 0; }
    .p-form_tbl_cell .is-check li {
      margin-top: 20px; }
      .p-form_tbl_cell .is-check li:first-child {
        margin-top: 0; }
    .p-form_tbl_cell .is-diagnosis li {
      margin-top: 20px; }
    .p-form_tbl_cell .is-check li input[type="checkbox"], .p-form_tbl_cell .is-radio li input[type="radio"] {
      margin-top: 0;
      vertical-align: top; }
    .p-form_tbl_cell .is-min {
      margin: 10px 0;
      font-size: 1.4rem; }
    .p-form_tbl_cell input[type="text"], .p-form_tbl_cell input[type="tel"], .p-form_tbl_cell input[type="email"], .p-form_tbl_cell input[type="url"] {
      padding: 3px 11px;
      width: 400px;
      font-size: 1.4rem; }
    .p-form_tbl_cell textarea {
      padding: 3px 11px;
      width: 400px;
      font-size: 1.4rem; }
    .p-form_tbl_cell #fOther02 {
      margin-top: 20px;
      width: 600px;
      height: 94px; }
    .p-form_tbl_cell #fOther {
      width: 600px;
      height: 100px; }
  .p-form_submit2 {
    margin: 30px auto;
    width: 75%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .p-form_submit_btn {
    margin: 0 auto 16px;
    width: 480px; }
  .p-form_submit_btn_anchor {
    padding: 21px 20px 19px;
    width: 480px;
    z-index: 3;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
    cursor: pointer; }
  .p-form_submit_btn_anchor2, .p-form_submit_btn_anchor3 {
    padding: 21px 20px 19px;
    width: 350px;
    z-index: 3;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
    cursor: pointer; }
  .p-form_submit_btn_anchor:after {
    margin-top: -7px;
    width: 25px;
    height: 15px;
    right: 40px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .p-form_submit_btn_anchor2:before {
    margin-top: -7px;
    width: 25px;
    height: 15px;
    left: 40px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .p-form_submit_btn_anchor3:after {
    margin-top: -7px;
    width: 25px;
    height: 15px;
    right: 40px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .p-form_submit_btn_anchor:hover {
    background: #FFF;
    border: 2px solid #f7691d; }
    .p-form_submit_btn_anchor:hover:after {
      background: url(../img/icon_arrow02.png) no-repeat; }
  .p-form_submit_btn_anchor2:hover {
    background: #FFF;
    border: 2px solid #b1b1b1; }
    .p-form_submit_btn_anchor2:hover:before {
      background: url(../img/icon_arrow05.png) no-repeat; }
  .p-form_submit_btn_anchor3:hover {
    background: #FFF;
    border: 2px solid #6EB92B; }
    .p-form_submit_btn_anchor3:hover:after {
      background: url(../img/icon_arrow03.png) no-repeat; }
  .p-form_submit_btn_anchor:hover .p-form_submit_btn_txt {
    background: url(../img/submit_btn_on.png) no-repeat top center; }
    .p-form_submit_btn_anchor:hover .p-form_submit_btn_txt img {
      opacity: 0; }
  .p-form_submit_btn_anchor:hover .p-form_submit_btn_date {
    color: #111; }
  .p-form_submit_btn_txt {
    width: 311px; }
  .p-form_submit_btn_anchor2 .p-form_submit_btn_txt2 {
    width: 311px;
    font-size: 2.8rem;
    color: #fff;
    font-weight: bold; }
  .p-form_submit_btn_anchor2:hover .p-form_submit_btn_txt2 {
    color: #111; }
  .p-form_submit_btn_anchor3 .p-form_submit_btn_txt3 {
    width: 311px;
    font-size: 2.8rem;
    color: #fff;
    font-weight: bold; }
  .p-form_submit_btn_anchor3:hover .p-form_submit_btn_txt3 {
    color: #111; }
  .p-form_submit_btn_date {
    font-size: 1.6rem; }
  .p-form_notes {
    font-size: 1.6rem; }
    .p-form_notes a {
      pointer-events: none; }
  .p-thanks {
    padding: 60px 0 0; }
  .p-thanks_ttl {
    margin-bottom: 40px;
    padding: 15px 0;
    font-size: 2.6rem; }
  .p-thanks_txt {
    margin-bottom: 5px;
    text-align: center; }
    .p-thanks_txt p {
      margin-bottom: 35px;
      font-size: 1.8rem; }
      .p-thanks_txt p a {
        pointer-events: none; }
  .p-thanks_website, .p-thanks_topbtn {
    margin: auto;
    width: 520px; }
  .p-thanks_website_anchor, .p-thanks_topbtn_anchor {
    border: 2px solid #6EB92B; }
  .p-thanks_website_anchor:hover, .p-thanks_topbtn_anchor:hover {
    opacity: 0.7; }
  .p-thanks_website_anchor:after, .p-thanks_topbtn_anchor:after {
    margin-top: -8px;
    width: 25px;
    height: 16px;
    right: 40px; }
  .p-thanks_website_anchor {
    padding: 22px 70px 22px 50px;
    font-size: 2.4rem; }
  .p-thanks_website_logo {
    padding-right: 20px; }
  .p-thanks_topbtn {
    margin-top: 20px; }
  .p-thanks_topbtn_anchor {
    padding: 20px 0;
    font-size: 2.4rem; } }

/*--------------------------------------------------------------------
// フォーム　max-width 736px
---------------------------------------------------------------------*/
@media only screen and (max-width: 736px) {
  .p-form {
    padding-bottom: 30px; }
  .p-form_ttl {
    padding: 9px 0;
    font-size: 2rem; }
  .p-form .is-must {
    width: 30px;
    font-size: 1.1rem; }
  .p-form_txt {
    padding: 16px 15px 0;
    font-size: 1.2rem; }
  .p-form_txt2 {
    padding: 16px 15px 15px;
    font-size: 1.2rem; }
  .p-form_txt02 {
    padding: 0 15px 14px;
    font-size: 1.2rem; }
    .p-form_txt02 .is-must {
      margin-right: 2px; }
  .p-form_tel {
    margin: 0 15px 13px;
    display: block; }
  .p-form_tel_anchor {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 20px 9px 30px;
    width: 100%;
    background: #fff;
    border: 2px solid #6DB82B;
    border-radius: 50px;
    display: block;
    position: relative;
    color: #000;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center; }
    .p-form_tel_anchor .is-num {
      display: block;
      font-size: 2rem;
      font-weight: bold; }
    .p-form_tel_anchor:before, .p-form_tel_anchor:after {
      position: absolute;
      top: 50%;
      content: ""; }
    .p-form_tel_anchor:before {
      margin-top: -15px;
      width: 22px;
      height: 30px;
      background: url(../img/icon_tel.png) no-repeat;
      background-size: 22px 30px;
      left: 15px; }
    .p-form_tel_anchor:after {
      margin-top: -4px;
      width: 17px;
      height: 10px;
      background: url(../img/icon_arrow03.png) no-repeat;
      background-size: 17px 10px;
      right: 10px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .p-form_time {
    margin-bottom: 19px;
    display: block;
    font-size: 1.2rem;
    text-align: center; }
  .p-form_tbl {
    width: 100%;
    border-collapse: collapse; }
  .p-form_tbl_cell {
    padding: 15px;
    display: block;
    font-size: 1.3rem; }
    .p-form_tbl_cell.is-head {
      padding: 6px 15px 7px 49px;
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      position: relative;
      font-weight: bold; }
    .p-form_tbl_cell.is-head2 {
      padding: 6px 15px 7px 15px;
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      position: relative;
      font-weight: bold; }
    .p-form_tbl_cell .is-must, .p-form_tbl_cell .is-any {
      margin-top: -8px;
      padding: 1px 0;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 1.1rem; }
    .p-form_tbl_cell .is-cell {
      display: table-cell;
      vertical-align: middle; }
    .p-form_tbl_cell .is-label {
      display: table-cell;
      vertical-align: middle;
      line-height: 1.6; }
      .p-form_tbl_cell .is-label .is-notes {
        display: block;
        font-weight: normal; }
      .p-form_tbl_cell .is-label .is-normal {
        font-weight: normal; }
    .p-form_tbl_cell .is-radio li label, .p-form_tbl_cell .is-check li label {
      padding: 10px 10px 10px 35px;
      /* background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4)); */
      border: 1px solid #CCC;
      border-top: none;
      display: block;
      position: relative;
      font-size: 1.3rem;
      line-height: 1.5; }
    .p-form_tbl_cell .is-radio li label input, .p-form_tbl_cell .is-check li label input {
      margin-top: -7px;
      position: absolute;
      top: 50%;
      left: 10px; }
    .p-form_tbl_cell .is-radio li:first-child label, .p-form_tbl_cell .is-check li:first-child label {
      border-top: 1px solid #CCC; }
    .p-form_tbl_cell .is-diagnosis li {
      margin-top: 15px; }
      .p-form_tbl_cell .is-diagnosis li:first-child {
        margin-top: 0; }
      .p-form_tbl_cell .is-diagnosis li:last-child label {
        border-top: 1px solid #CCC; }
    .p-form_tbl_cell .is-min {
      margin: 15px 0 10px;
      font-size: 1.1rem; }
    .p-form_tbl_cell input[type="text"], .p-form_tbl_cell input[type="tel"], .p-form_tbl_cell input[type="email"], .p-form_tbl_cell input[type="url"] {
      padding: 9px;
      width: 100%;
      font-size: 1.3rem;
      -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }
    .p-form_tbl_cell textarea {
      padding: 9px;
      width: 100%;
      font-size: 1.3rem;
      -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }
    .p-form_tbl_cell #fOther02 {
      margin-top: 15px;
      height: 80px; }
    .p-form_tbl_cell #fOther {
      height: 80px; }
  .p-form_submit {
    margin: 0 15px 17px; }
  .p-form_submit_btn_anchor {
    width: 100%;
    padding: 13px 10px; }
    .p-form_submit_btn_anchor:after {
      margin-top: -5px;
      width: 17px;
      height: 10px;
      background-size: 17px 10px;
      right: 15px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .p-form_submit_btn_txt {
    width: 176px; }
  .p-form_submit_btn_date {
    font-size: 1rem; }
  .p-form_notes {
    font-size: 1.3rem; }
  .p-thanks {
    padding: 30px 15px 0; }
  .p-thanks_ttl {
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 1.3rem; }
  .p-thanks_txt {
    margin-bottom: 5px;
    text-align: center; }
    .p-thanks_txt p {
      margin-bottom: 25px;
      font-size: 1.3rem; }
  .p-thanks_website, .p-thanks_topbtn {
    margin: auto; }
  .p-thanks_website_anchor, .p-thanks_topbtn_anchor {
    border: 1px solid #6EB92B; }
  .p-thanks_website_anchor:after, .p-thanks_topbtn_anchor:after {
    margin-top: -4px;
    width: 13px;
    height: 8px;
    right: 20px; }
  .p-thanks_website_anchor {
    padding: 10px 20px 10px 40px;
    font-size: 1.5rem; }
    .p-thanks_website_anchor:after {
      background-size: 13px 8px; }
  .p-thanks_website_logo {
    padding-top: 5px;
    width: 51px; }
    .p-thanks_website_logo img {
      width: 41px; }
  .p-thanks_topbtn {
    margin-top: 20px; }
  .p-thanks_topbtn_anchor {
    padding: 8px 0;
    font-size: 1.5rem; }
    .p-thanks_topbtn_anchor:after {
      background-size: 13px 8px; }
  .p-form_submit_btn_anchor2, .p-form_submit_btn_anchor3 {
    padding: 21px 20px 19px;
    width: 100%;
    margin-bottom: 8px;
    z-index: 3;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
    cursor: pointer; }
  .p-form_submit_btn_anchor2:before {
    margin-top: -7px;
    width: 25px;
    height: 15px;
    left: 40px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .p-form_submit_btn_anchor2 .p-form_submit_btn_txt2 {
    width: 311px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold; }
  .p-form_submit_btn_anchor3:after {
    margin-top: -7px;
    width: 25px;
    height: 15px;
    right: 40px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .p-form_submit_btn_anchor3 .p-form_submit_btn_txt3 {
    width: 311px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold; } }

/*--------------------------------------------------
// confirm page
---------------------------------------------------*/
.p-confirm_ttl {
  background: #040404;
  color: #FFF;
  text-align: center; }

.p-confirm_txt a {
  color: #6CB82B;
  font-weight: bold;
  text-decoration: none; }

.p-confirm_txt p {
  line-height: 2; }

.p-confirm_txt .is-bold {
  font-weight: bold; }

.p-confirm_website_anchor, .p-confirm_topbtn_anchor {
  border-radius: 100px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

.p-confirm_website_anchor:after, .p-confirm_topbtn_anchor:after {
  position: absolute;
  top: 50%;
  content: "";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.p-confirm_website_anchor {
  color: #212121;
  line-height: 1.25; }
  .p-confirm_website_anchor:after {
    background: url(../img/icon_arrow03.png) no-repeat; }

.p-confirm_website_logo {
  display: table-cell;
  vertical-align: middle; }

.p-confirm_website_txt {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold; }

.p-confirm_topbtn_anchor {
  background: #6EB92B;
  color: #FFF;
  font-weight: bold;
  text-align: center; }
  .p-confirm_topbtn_anchor:after {
    background: url(../img/icon_arrow01.png) no-repeat; }

@media only screen and (min-width: 737px) {
  .p-confirm {
    padding: 60px 0 0; }
  .p-confirm_ttl {
    margin-bottom: 40px;
    padding: 15px 0;
    font-size: 2.6rem; }
  .p-confirm_txt {
    margin-bottom: 5px;
    text-align: center; }
    .p-confirm_txt p {
      margin-bottom: 35px;
      font-size: 1.8rem; }
      .p-confirm_txt p a {
        pointer-events: none; }
  .p-confirm_website, .p-confirm_topbtn {
    margin: auto;
    width: 520px; }
  .p-confirm_website_anchor, .p-confirm_topbtn_anchor {
    border: 2px solid #6EB92B; }
  .p-confirm_website_anchor:hover, .p-confirm_topbtn_anchor:hover {
    opacity: 0.7; }
  .p-confirm_website_anchor:after, .p-confirm_topbtn_anchor:after {
    margin-top: -8px;
    width: 25px;
    height: 16px;
    right: 40px; }
  .p-confirm_website_anchor {
    padding: 22px 70px 22px 50px;
    font-size: 2.4rem; }
  .p-confirm_website_logo {
    padding-right: 20px; }
  .p-confirm_topbtn {
    margin-top: 20px; }
  .p-confirm_topbtn_anchor {
    padding: 20px 0;
    font-size: 2.4rem; } }

@media only screen and (max-width: 736px) {
  .p-confirm {
    padding: 30px 15px 0; }
  .p-confirm_ttl {
    padding: 10px 0;
    font-size: 1.3rem; }
  .p-confirm_txt {
    margin-bottom: 5px;
    text-align: center; }
    .p-confirm_txt p {
      margin-bottom: 25px;
      font-size: 1.3rem; }
  .p-confirm_website, .p-confirm_topbtn {
    margin: auto; }
  .p-confirm_website_anchor, .p-confirm_topbtn_anchor {
    border: 1px solid #6EB92B; }
  .p-confirm_website_anchor:after, .p-confirm_topbtn_anchor:after {
    margin-top: -4px;
    width: 13px;
    height: 8px;
    right: 20px; }
  .p-confirm_website_anchor {
    padding: 10px 20px 10px 40px;
    font-size: 1.5rem; }
    .p-confirm_website_anchor:after {
      background-size: 13px 8px; }
  .p-confirm_website_logo {
    padding-top: 5px;
    width: 51px; }
    .p-confirm_website_logo img {
      width: 41px; }
  .p-confirm_topbtn {
    margin-top: 20px; }
  .p-confirm_topbtn_anchor {
    padding: 8px 0;
    font-size: 1.5rem; }
    .p-confirm_topbtn_anchor:after {
      background-size: 13px 8px; } }
