/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
  margin-top: 115px;
  padding: 16px 0;
  background: #e6e6e6;
}

@media screen and (max-width: 767px) {
  .c-footer {
    margin-top: 59px;
    padding: 17px 0 21px;
  }
}

.c-footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .c-footer__inner {
    display: block;
  }
}

.c-footer__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .c-footer__logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 6px;
  }
}

.c-footer__logo a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  color: #313131;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-footer__logo a {
    font-size: 1rem;
  }
}

.c-footer__logo a:nth-of-type(2) {
  padding-top: 7px;
  border-bottom: 1px solid #000;
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  .c-footer__logo a:nth-of-type(2) {
    padding-top: 4px;
    letter-spacing: 1.5px;
    margin-left: 12px;
  }
}

.c-footer__logo a:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .c-footer__logo a img {
    width: 52px;
    height: 14px;
  }
}

.c-footer__copy {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  color: #313131;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .c-footer__copy {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.c-backtop {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 90px;
  z-index: 10;
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 767px) {
  .c-backtop {
    width: 43px;
    height: 50px;
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-backtop img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .c-backtop.is-show {
    bottom: 0;
  }
}