/*------------------------------------------------------------
header
------------------------------------------------------------*/

.c-header {
  position: relative;
  z-index: 4;
}

.c-header__logo {
  display: inline-block;
  padding: 25px 0 0 30px;
}

@media screen and (max-width: 767px) {
  .c-header__logo {
    padding: 20px 0 0 25px;
    width: 23.5%;
  }
}

@media screen and (max-width: 767px) {
  .c-header__logo img {
    width: 100%;
  }
}