/*------------------------------------------------------------
layout
------------------------------------------------------------*/

body {
  min-width: 1440px;
  /* overflow-x: hidden; */
}

@media screen and (max-width: 767px) {
  body {
    min-width: 100%;
  }
}

.l-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}
