/*------------------------------------------------------------
btn
------------------------------------------------------------*/

.c-btn01 {
  width: 526px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn01 {
    width: 100%;
  }
}

.c-btn01:before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #FFF;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 45px;
  opacity: 0;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.c-btn01:after {
  content: "";
  width: 33px;
  height: 7px;
  background: url("../../assets/img/icon_arrow06.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 5.5px);
  right: 60px;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

@media screen and (max-width: 767px) {
  .c-btn01:after {
    width: 19px;
    height: 4px;
    top: calc(50% - 2px);
    right: 22px;
  }
}

.c-btn01 a {
  display: block;
  background: #ee5f09;
  color: #FFF;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn01 a {
    font-size: 1.743rem;
    letter-spacing: 1px;
  }
}

.c-btn01 a:before,
.c-btn01 a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #ee5f09;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.c-btn01 a:before {
  right: 0;
  top: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.c-btn01 a:after {
  bottom: 0;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  left: 40px;
}

.c-btn01 a span {
  display: block;
  padding: 24px 94px 19px 98px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn01 a span {
    padding: 10px 42px 8px 46px;
  }
}

.c-btn01 a span:before,
.c-btn01 a span:after {
  content: "";
  width: 50px;
  height: 0;
  background: #ee5f09;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.c-btn01 a span:before {
  left: 0;
  top: 0;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.c-btn01 a span:after {
  right: 0;
  bottom: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media screen and (min-width: 767px) {
  .c-btn01:hover:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
  }
  .c-btn01:hover:after {
    background: url("../../assets/img/icon_arrow07.png") no-repeat;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn01:hover a {
    opacity: 1;
    background: transparent;
    color: #ee5f09;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn01:hover a:before {
    width: 100%;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .c-btn01:hover a:after {
    width: calc(100% - 80px);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .c-btn01:hover a span:before {
    height: 100%;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .c-btn01:hover a span:after {
    height: 100%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}

.c-btn01--submit {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.c-btn01--confirm {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.c-btn01--confirm a {
  background: #b1b1b1;
}

.c-btn01--confirm a:before,
.c-btn01--confirm a:after {
  background: #b1b1b1;
}

.c-btn01--confirm a span:before,
.c-btn01--confirm a span:after {
  background: #b1b1b1;
}

@media screen and (min-width: 767px) {
  .c-btn01--confirm:hover a {
    color: #b1b1b1;
  }
}

.c-btn01--thanks:before {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks:before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
  }
}

.c-btn01--thanks:after {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.c-btn01--thanks a {
  background: #eeeeee;
  color: #232323;
  border: 3px solid #aaaaaa;
  border-radius: 45px;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks a {
    border: 2px solid #aaaaaa;
  }
}

.c-btn01--thanks a:before,
.c-btn01--thanks a:after {
  height: 3px;
  background: #47a738;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks a:before,
  .c-btn01--thanks a:after {
    height: 2px;
  }
}

.c-btn01--thanks a:before {
  right: 0;
  top: -3px;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks a:before {
    top: -2px;
  }
}

.c-btn01--thanks a:after {
  left: 0;
  bottom: -3px;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks a:after {
    bottom: -2px;
  }
}

.c-btn01--thanks a span {
  height: 83px;
  left: -3px;
  width: 526px;
  padding: 18px 94px 18px 98px;
}

@media screen and (max-width: 767px) {
  .c-btn01--thanks a span {
    left: -2px;
    width: calc(100% + 4px);
    height: 40px;
    padding: 6px 20px;
  }
}

.c-btn01--thanks a span:before,
.c-btn01--thanks a span:after {
  background: #47a738;
}

@media screen and (min-width: 767px) {
  .c-btn01--thanks:hover:after {
    background: url("/assets/img/icon_arrow08.png") no-repeat;
    background-size: 33px 7px;
  }
}

@media screen and (min-width: 767px) and (max-width: 767px) {
  .c-btn01--thanks:hover:after {
    background-size: 19px 4px;
  }
}

@media screen and (min-width: 767px) {
  .c-btn01--thanks:hover a {
    color: #232323;
    border: 3px solid transparent;
  }
}

@media screen and (min-width: 767px) and (max-width: 767px) {
  .c-btn01--thanks:hover a {
    border: 2px solid transparent;
  }
}

.c-btn02 {
  width: 526px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn02 {
    width: 100%;
  }
}

.c-btn02:before,
.c-btn02:after {
  content: "";
  width: 0;
  height: 2px;
  background: #FFF;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.c-btn02:before {
  right: 0;
  top: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.c-btn02:after {
  bottom: 0;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  left: 40px;
}

.c-btn02 a {
  display: block;
  background: #ee5f09;
  color: #FFF;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  position: relative;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

@media screen and (max-width: 767px) {
  .c-btn02 a {
    font-size: 1.743rem;
    letter-spacing: 1px;
  }
}

.c-btn02 a:before,
.c-btn02 a:after {
  content: "";
  width: 45px;
  height: 0;
  background: #FFF;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.c-btn02 a:before {
  left: 0;
  top: 0;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.c-btn02 a:after {
  bottom: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  right: 0;
}

.c-btn02 a span {
  display: block;
  padding: 24px 94px 19px 98px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .c-btn02 a span {
    padding: 10px 42px 8px 46px;
  }
}

.c-btn02 a span:before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #ee5f09;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 45px;
}

.c-btn02 a span:after {
  content: "";
  width: 33px;
  height: 7px;
  background: url("../../assets/img/icon_arrow06.png") no-repeat;
  background-size: 33px 7px;
  position: absolute;
  top: calc(50% - 5.5px);
  right: 60px;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

@media screen and (max-width: 767px) {
  .c-btn02 a span:after {
    width: 19px;
    height: 4px;
    top: calc(50% - 2px);
    background-size: 19px 4px;
    right: 22px;
  }
}

.c-btn02 a span strong {
  display: block;
  position: relative;
  z-index: 3;
  font-weight: normal;
}

@media screen and (min-width: 767px) {
  .c-btn02:hover:before {
    width: 100%;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .c-btn02:hover:after {
    width: calc(100% - 80px);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .c-btn02:hover a {
    opacity: 1;
  }
  .c-btn02:hover a:before {
    height: 100%;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .c-btn02:hover a:after {
    height: 100%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}

.c-btn02--thanks:before,
.c-btn02--thanks:after {
  background: #47a738;
  height: 3px;
}

.c-btn02--thanks a {
  background: #aaaaaa;
  color: #232323;
}

.c-btn02--thanks a:before,
.c-btn02--thanks a:after {
  background: #47a738;
}

.c-btn02--thanks a span:before {
  background: #eeeeee;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
}

.c-btn02--thanks a span:after {
  right: 53px;
  background: url("../../assets/img/icon_arrow08.png") no-repeat;
  background-size: 33px 7px;
}

@media screen and (max-width: 767px) {
  .c-btn02--thanks a span:after {
    background-size: 19px 4px;
  }
}

@media screen and (min-width: 767px) {
  .c-btn02--thanks:hover a {
    background: #FFF;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn02--thanks:hover a span:before {
    background: #FFF;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn02--thanks:hover a span:after {
    background: url("../../assets/img/icon_arrow08.png") no-repeat;
    background-size: 33px 7px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

@media screen and (min-width: 767px) and (max-width: 767px) {
  .c-btn02--thanks:hover a span:after {
    background-size: 19px 4px;
  }
}

.c-btn03 {
  width: 526px;
}

@media screen and (max-width: 767px) {
  .c-btn03 {
    width: 100%;
  }
}

.c-btn03 a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "VDL-Logona";
  letter-spacing: 1.5px;
  position: relative;
  background: #eeeeee;
  border: 3px solid #aaaaaa;
  color: #232323;
  font-size: 3rem;
  padding: 18px 92px 20px 96px;
  border-radius: 45px;
}

@media screen and (max-width: 767px) {
  .c-btn03 a {
    padding: 7px 20px;
    font-size: 1.743rem;
    border: 2px solid #aaaaaa;
  }
}

.c-btn03 a:after {
  content: "";
  width: 33px;
  height: 7px;
  background: url("../../assets/img/icon_arrow06.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 3.5px);
  right: 60px;
}

@media screen and (max-width: 767px) {
  .c-btn03 a:after {
    width: 19px;
    height: 4px;
    top: calc(50% - 2px);
    right: 22px;
  }
}

@media screen and (min-width: 767px) {
  .c-btn03 a:hover {
    border: 3px solid #47a738;
    background: #FFF;
  }
  .c-btn03 a:hover:after {
    background: url("/assets/img/icon_arrow08.png") no-repeat;
    background-size: 33px 7px;
  }
}

@media screen and (min-width: 767px) and (max-width: 767px) {
  .c-btn03 a:hover:after {
    background-size: 19px 4px;
  }
}

.c-btn04 {
  width: 526px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn04 {
    width: 100%;
  }
}

.c-btn04:before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #FFF;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 45px;
  opacity: 0;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.c-btn04:after {
  content: "";
  width: 33px;
  height: 7px;
  background-size: cover;
  position: absolute;
  top: calc(50% - 5.5px);
  right: 60px;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

@media screen and (max-width: 767px) {
  .c-btn04:after {
    width: 19px;
    height: 4px;
    top: calc(50% - 2px);
    right: 22px;
  }
}

.c-btn04 a {
  display: block;
  background: #ee5f09;
  color: #FFF;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  position: relative;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

@media screen and (max-width: 767px) {
  .c-btn04 a {
    font-size: 1.743rem;
    letter-spacing: 1px;
  }
}

.c-btn04 a:before,
.c-btn04 a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #ee5f09;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.c-btn04 a:before {
  right: 0;
  top: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.c-btn04 a:after {
  bottom: 0;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  left: 40px;
}

.c-btn04 a span {
  display: block;
  padding: 24px 94px 19px 98px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-btn04 a span {
    padding: 10px 42px 8px 46px;
  }
}

.c-btn04 a span:before,
.c-btn04 a span:after {
  content: "";
  width: 50px;
  height: 0;
  background: #ee5f09;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.c-btn04 a span:before {
  left: 0;
  top: 0;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.c-btn04 a span:after {
  right: 0;
  bottom: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media screen and (min-width: 767px) {
  .c-btn04:hover:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
  }
  .c-btn04:hover:after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn04:hover a {
    opacity: 1;
    background: transparent;
    color: #ee5f09;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .c-btn04:hover a:before {
    width: 100%;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .c-btn04:hover a:after {
    width: calc(100% - 80px);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .c-btn04:hover a span:before {
    height: 100%;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .c-btn04:hover a span:after {
    height: 100%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}

.c-btn04--submit {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.c-btn04--confirm {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.c-btn04--confirm a {
  background: #b1b1b1;
}

.c-btn04--confirm a:before,
.c-btn04--confirm a:after {
  background: #b1b1b1;
}

.c-btn04--confirm a span:before,
.c-btn04--confirm a span:after {
  background: #b1b1b1;
}

@media screen and (min-width: 767px) {
  .c-btn04--confirm:hover a {
    color: #b1b1b1;
  }
}