/* c-text01
------------------------------------------------------------*/

.c-text01__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-text01__title {
  width: 346px;
  position: relative;
}

.c-text01__title:after {
  content: "";
  width: 1px;
  height: calc(100% - 18px);
  background: #111;
  position: absolute;
  top: 12px;
  right: 0;
}

.c-text01__text {
  width: calc(100% - 346px);
  padding-left: 45px;
  padding-top: 6px;
}

.c-text01__text p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #111;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: normal;
}