/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*------------------------------------------------------------
thank
------------------------------------------------------------*/

.p-thank {
  padding-top: 83px;
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .p-thank {
    padding: 0 25px;
  }
}

.p-thank__inner {
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-thank__inner {
    padding-top: 26px;
  }
}

.p-thank__inner:before {
  content: "";
  width: 1200px;
  height: 236px;
  background: url("../img/120.png") no-repeat center;
  position: absolute;
  top: -10px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .p-thank__inner:before {
    content: "";
    width: 100%;
    background: url("../img/120_sp.png") no-repeat center;
    top: -116px;
    left: 120px;
  }
}

@media screen and (max-width: 640px) {
  .p-thank__inner:before {
    content: "";
    width: 100%;
    top: -55px;
    left: 25px;
    height: 100%;
    z-index: -1;
    background-position: top right;
  }
}

.p-thank__title {
  text-align: center;
  font-size: 3.5rem;
  line-height: 3.8rem;
  color: #009944;
  font-family: "ShinGoPro", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .p-thank__title {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.p-thank__title span {
  display: block;
  font-size: 2.4rem;
  color: #232323;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .p-thank__title span {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
}

.p-thank__title02 {
  font-size: 2rem;
  font-family: "ShinGoPro", sans-serif;
  font-weight: bold;
  color: #232323;
  text-align: center;
  position: relative;
  margin-top: 73px;
}

@media screen and (max-width: 767px) {
  .p-thank__title02 {
    font-size: 1.1rem;
    margin-top: 44px;
  }
}

.p-thank__title02:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 0;
}

.p-thank__title02 span {
  background: #FFF;
  position: relative;
  padding: 0 25px;
}

@media screen and (max-width: 767px) {
  .p-thank__title02 span {
    padding: 0 15px;
  }
}

.p-thank__txt {
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.8rem;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .p-thank__txt {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-top: 14px;
  }
}

.p-thank__txt span {
  font-weight: bold;
}

.p-thank__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 99px 0 113px;
}

@media screen and (max-width: 767px) {
  .p-thank__list {
    display: block;
    margin-top: 29px;
    padding: 0 11px 0 19px;
  }

  .p-thank__list img{
      width:100%;
  }
}

@media screen and (max-width: 767px) {
  .p-thank__list li {
    margin-bottom: 30px;
  }
}

.p-thank .c-btn02 {
  margin: 78px auto 0;
}

@media screen and (max-width: 767px) {
  .p-thank .c-btn02 {
    margin-top: 43px;
  }
}


/*------------------------------------------------------------
top
------------------------------------------------------------*/

.p-top01 {
  margin-top: -52px;
  padding-bottom: 128px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .p-top01 {
    margin-top: -15%;
    padding: 0 24px 47px;
  }
}

.p-top01__inner {
  padding-top: 115px;
  padding-bottom: 15px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-top01__inner {
    padding-top: 21%;
    padding-bottom: 0;
  }
}

.p-top01__img {
  position: absolute;
  top: -56px;
  right: -276px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .p-top01__img {
    top: 0;
    right: -24px;
    width: 82%;
  }
}

.p-top01__img--quote{
  position: absolute;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .p-top01__img--quote{
    visibility:hidden;
    opacity:0;
  }
}

.p-top01__img--quote01{
  top: 271px;
  left: 25px;
}

.p-top01__img--quote02{
  top: 66px;
  right: 280px;
}

.p-top01__img--quote03{
  top: 795px;
  left: 256px;
}

@media screen and (max-width: 767px) {
  .p-top01__img img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .p-top01__text {
    position: relative;
    z-index: 5;
  }

  .p-top01__text img {
    width: 100%;
  }
}


/*p-top02
------------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .p-top02 .l-container {
    padding: 0 25px;
  }
}

.p-top02__top{
  padding: 92px 0 100px;
}

@media screen and (max-width: 767px) {
  .p-top02__top{
    padding: 39px 0 40px;
  }
}

.p-top02__top-title {
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: bold;
  font-family: "ShinGoPro-DeBold", sans-serif;
  color: #009944;
  text-align: center;
  margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
  .p-top02__top-title {
    font-size: 2.7rem;
    line-height:1;
    margin-bottom: 28px;
  }
}

.p-top02__top-title span{
  display: block;
  font-size: 2.4rem;
  color: #232323;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .p-top02__top-title span{
    font-size: 1.4rem;
    line-height:1.1;
    margin-bottom: 12px;
  }
}

.p-top02__top-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

@media screen and (max-width: 767px) {
  .p-top02__top-text {
    margin-bottom: 30px;
  }
}

.p-top02__top-text li {
  font-size: 1.6rem;
  line-height: 3.7rem;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  color: #232323;
  padding-left: 20px;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .p-top02__top-text li {
    width: 100%;
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.5;
  }  

  .p-top02__top-text li span{
    display:block;
    text-align:center;
    padding: 12px 0;
  }

  .p-top02__top-text li span {
    border-top: 1px dotted #aeaeae;
  }

  .p-top02__top-text li:last-child span:last-child {
    border-bottom: 1px dotted #aeaeae;    
  }
}

@media screen and (min-width: 768px) {
  .p-top02__top-text li:before{
    content: "";
    width: 1px;
    height: 85%;
    background: #009944;
    position: absolute;
    top: 11px;
    left: 2px;
  }
}
.p-top02__top-text li span {
  font-family: "ShinGoPro-DeBold", sans-serif;
}

@media screen and (min-width: 768px) {
  .p-top02__top-text li span {
    font-weight: bold;
    font-family: "ShinGoPro-DeBold", sans-serif;
  }
}

.p-top02__top-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px;
}

@media screen and (max-width: 767px) {
  .p-top02__top-images {
    display: block;
    margin: 0;
  }
}

.p-top02__top-images li {
  width: 33.333%;
  padding: 0 5px;
}

@media screen and (max-width: 767px) {
  .p-top02__top-images li {
    width: 100%;
    padding: 0;
  }

  .p-top02__top-images li:not(:last-child){
    margin-bottom:10px;
  }
}

.p-top02__top-images li img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .p-top02__top-images li img {
    width: 100%;
  }
}

.p-top02__mid {
  background-color: #f5f5f5;
  padding: 73px 0 100px;
}

@media screen and (max-width: 767px) {
  .p-top02__mid {
    padding: 35px 0 40px;
  }
}

.p-top02__mid-title {
  text-align: center;
  font-size: 4.5rem;
  font-weight:bold;
  font-family: "ShinGoPro-DeBold", sans-serif;
  margin-bottom: 76px;
}


@media screen and (max-width: 767px) {
  .p-top02__mid-title {
    margin-bottom: 20px;
    font-size: 2.7rem;
  }
}

.p-top02__mid-title i{
  font-size: 3.8rem;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-title i{
    font-size:2.4rem;
  }
}

.p-top02__mid-title span{
  color: #009944;
}

.p-top02__mid-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;  
}

@media screen and (max-width: 767px) {
  .p-top02__mid-list{
    display: block;
    margin: 0;
  }
}

.p-top02__mid-list li{
  width:25%;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-list li{
    width: 100%;
    padding: 0;
  }

  .p-top02__mid-list li:not(:last-child){
    margin-bottom: 10px;
  }
}

.p-top02__mid-bg {
  background-color: #fff;
  padding: 25px 31px 33px;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-bg {
    padding: 24px 26px 20px;
  }
}

.p-top02__mid-img {
  text-align: center;
  margin: -88px 0 15px;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-img {
    margin: 0 0 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }
}

.p-top02__mid-img--img{
  margin-bottom:7px;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-img--img{
    margin: 0 10px 0 0;
    width: 26%;
  }  
}

.p-top02__mid-img--name{
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "ShinGoPro-DeBold", sans-serif;
}

.p-top02__mid-txt{
  font-size: 1.3rem;
  font-family: "ShinGoPro", sans-serif;
  line-height: 1.7
}
.p-top02__mid-txt strong,
.p-top02__mid-txt b{
  font-family: "ShinGoPro-DeBold", sans-serif;
}

@media screen and (max-width: 767px) {
  .p-top02__mid-txt{
    font-size: 1.3rem;
    line-height: 1.8;
  }  
}

.p-top02__mid-txt b{
  color: #009944;
}

.p-top02__bot {
  padding: 102px 0 120px;
}

@media screen and (max-width: 767px){
  .p-top02__bot {
    padding: 30px 0 40px;
  }
}

.p-top02__bot .l-container {
  position:relative;
}

.p-top02__bot-img {
  position: absolute;
  left: -685px;
  top: -102px;
  z-index: 5;
}

@media screen and (max-width: 767px){
  .p-top02__bot-img {
    position: static;
    margin-bottom: 20px;
    padding: 0 22.5px;
  }

  .p-top02__bot-img img {
    width: 100%
  }
}

.p-top02__bot-title {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .p-top02__bot-title img {
    width: 100%
  }
}

/*p-top03
------------------------------------------------------------*/

.p-top03 {
  padding: 97px 0 55px;
  background: #f5f5f5;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-top03 {
    padding: 52px 0 37px;
  }

  .p-top03 .l-container {
    padding: 0 25px;
  }
}

.p-top03__title {
  font-size: 4.5rem;
  line-height: 1;
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-weight: bold;
  color: #313131;
  text-align: center;
  margin-bottom: 76px;
}

@media screen and (max-width: 767px) {
  .p-top03__title {
    font-size: 2.7rem;
    margin-bottom: 48px;
  }
}

.p-top03__title i {
  font-size: 3.8rem;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .p-top03__title i {
    font-size: 2.4rem;
  }
}

.p-top03__title strong {
  font-size: 4.7rem;
  color: #009944;
}

@media screen and (max-width: 767px) {
  .p-top03__title strong {
    display: inline-block;
    font-size: 2.7rem;
    margin-top: 3px;
  }
}


/*p-top04
------------------------------------------------------------*/

.p-top04 {
  background: #e6e6e6;
  padding: 81px 0 101px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-top04 {
    padding: 43px 0 39px;
  }

  .p-top04 .l-container {
    padding: 0 25px;
  }
}

.p-top04__title {
  text-align: center;
  font-size: 4.2rem;
  line-height: 1;
  color: #232323;  
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-weight: bold;
  position: relative;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .p-top04__title {
    font-size: 2.7rem;
    line-height: 2.7rem;
    margin-bottom: 31px;
  }
}

.p-top04__title span  {
  color: #009944;
  padding-left: 0;
}

.p-top04__title i {
  font-size: 3.6rem;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .p-top04__title i {
    font-size: 2.4rem;
  }
}

.p-top04__title strong {
  font-weight: normal;
}

.p-top04 .p-support {
  background: #FFF;
}

.p-top04 .p-support_in {
  padding: 49px 0 34px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .p-top04 .p-support_in.sp-only {
    display: none;
  }  
}

@media screen and (max-width: 767px) {
  .p-top04 .p-support_in {
    padding: 18px 20px 30px;
  }

  .p-top04 .p-support_in.pc-only {
    display: none;
  }
}

.p-top04 .p-support_list {
  border: 0;
  width: 33.333%;
  columns: 1;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .p-top04 .p-support_list {
    width: 100%;
  }
}

.p-top04 .p-support_list:before {
  left:auto;
  right:0;
}

.p-top04 .p-support_list:last-child:before,
.p-top04 .p-support_list:after {
  display: none;
}

.p-top04 .p-support_list li {
  padding: 0 10px 0 97px;
  margin-bottom: 11px;
  font-family: "ShinGoPro", sans-serif;
}

.p-top04 .p-support_list li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .p-top04 .p-support_list li {
    padding: 0 0 0 15px;
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
}

.p-top04 .p-support_list li:before {
  left: 69px;
  background-image: url(../img/icon04.png);
}


@media screen and (max-width: 767px) {
  .p-top04 .p-support_list li:before{
    left: 0;
    width: 9px;
    height: 9px;
  }
  
  .p-top04 .p-support_list li.is-note1 {
    text-align: center;
    padding-right: 22px;
    margin-bottom: 6px;
  }
}

.p-top04 .p-support_list li.is-note2 {
  font-size: 1.8rem;
  line-height: 1.3;
  padding: 0 0px 0 71px;
  margin-bottom: 0;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .p-top04 .p-support_list li.is-note2 {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    padding: 0;
    font-weight: bold;
  }
}


/*p-top05
------------------------------------------------------------*/
.p-top05 {
  background-color: #f5f5f5;
  padding: 81px 0 100px;
}

@media screen and (max-width: 767px) {
  .p-top05 {padding: 41px 0 40px;}

  .p-top05 .l-container {
    padding: 0 25px;
  }
}

.p-top05__title {
  text-align: center;
  font-size: 4.5rem;
  line-height: 1;
  color: #313131;
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-weight: bold;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .p-top05__title {
    font-size: 2.7rem;
    margin-bottom: 28px;
  }
}

.p-top05__title span {
  color: #2ea35e;
}

.p-top05__wrap{
  background-color: #fff;
  padding: 60px 40px 80px;
}

@media screen and (max-width: 767px) {
  .p-top05__wrap{padding: 30px 22px 30px;}
}

.p-top05__heading {
  position: relative;
  margin-bottom: 79px;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .p-top05__heading {
    padding: 0;
    margin-bottom: 20px;
  }
}

.p-top05__heading-title {
  margin-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .p-top05__heading-title {
    margin-bottom: 12px;
  }
}

.p-top05__heading-txt {
  font-family: "ShinGoPro", sans-serif;
  font-size: 1.4rem;
  color: #333;
  line-height: 2;
  padding-left: 11px;
}

@media screen and (max-width: 767px) {
  .p-top05__heading-txt{
    padding:0;
    font-size: 1.3rem;
    line-height: 1.8;
  }
}

.p-top05__heading-img {
  position: absolute;
  right: 10px;
  top: -92px;
}

.p-top05__block01 {
  margin-bottom: 76px;
}

@media screen and (max-width: 767px){
  .p-top05__block01 {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px){
  .p-top05__block01 {
    padding: 0 10px;
  }
}

.p-top05__block .c-title06 {
  margin-bottom: 22px;
}

@media screen and (max-width: 767px){
  .p-top05__block .c-title06{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 14px;
  }
  
  .p-top05__block .c-title06:before {
    display: none;
  }
}

.p-top05__table {
  width: 100%;
  font-size:1.4rem;
  font-family: "ShinGoPro", sans-serif;
  border-collapse: collapse;
}

@media screen and (max-width: 767px){
  .p-top05__table {
    font-size: 1.2rem;
  }
}

.p-top05__table tr:first-child th {
  border-top: 1px solid #ddd;
}


.p-top05__table th {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  width: 116px;
  padding: 29px 5px;
}

.p-top05__table td {
  border-bottom: 1px solid #ddd;
  padding: 29px 30px;
}

@media screen and (max-width: 767px){
  .p-top05__table th,
  .p-top05__table td,
  .p-top05__table tr{
    float: left;
    width:100%;
  }  

  .p-top05__table th {
    padding: 9px 10px 9px;
  }
  
  .p-top05__table td {
    padding: 15px 10px 14px;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .p-top05__table tr:first-child td {
    border-top: 1px solid #ddd;
  }

  .p-top05__table tr:last-child td:nth-child(2){
    width: 315px;
  }
  
  .p-top05__table tr:last-child td:nth-child(4){
    width: 209px
  }
  
  .p-top05__block02 .c-title06 {
    padding-left: 10px;
  }

  .p-top05__img{
    margin-top: -58px;
  }
}

@media screen and (max-width: 767px){
  .p-top05__img {
    margin-bottom: 18px;
  }
}

.p-top05__btn{
  display:none;
  background-color: #313131;
  color:#fff;
  text-align:center;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "ShinGoPro", sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 10px;
}

@media screen and (max-width: 767px) {
  .p-top05__btn{
    display:block;
  }
}

.p-top05__btn:before {
  content: "";
  width: 12px;
  height: 13px;
  background: url(../img/i_search.png) no-repeat center;
  background-size: contain;
  display: inline-block;
  margin-right: 10px;
}

/*p-topCV
------------------------------------------------------------*/

.p-topCV {
  background: #009944;
  padding: 45px 0 76px;
}

@media screen and (max-width: 767px) {
  .p-topCV {
    padding: 0 0 38px;
  }
  
  .p-topCV .l-container{
    padding: 0 20px 0 11px;
  }
}

.p-topCV__title {
  margin-bottom:29px;
}

@media screen and (min-width: 768px) {
  .p-topCV__title {
    text-align: right;
  }  
}

@media screen and (max-width: 767px) {
  .p-topCV__title {
    top: -6px;
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
  }    

  .p-topCV__title img{
    width: 100%;
  }
}

.p-topCV__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .p-topCV__list {
    display:block;
    padding: 0 5px 0 14px;
  }  
}

.p-topCV__list li {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .p-topCV__list li {
    width:100%;
  }

  .p-topCV__list li img{
    width: 100%;
  }

  .p-topCV__list li:not(:last-child) {
    margin-bottom: 19px;
  }

  .p-topCV__list li:first-child > img:last-child {
    margin-top: 17px;
  }

  .p-topCV__list .c-btn02 a span{
    padding: 13px 10px 11px;
    text-align: center;
  }
}

.p-topCV__imgTxt{
  margin-bottom: 32px;
  margin-top: 3px;
}

.p-topCV .c-btn02 {
  margin-bottom: 28px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p-topCV .c-btn02{
    margin-bottom: 19px;
  }
}

.p-topCV__txt{
  font-size: 1.2rem;
  color: #fff;
  font-family: "ShinGoPro", sans-serif;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  .p-topCV__txt{
    font-size: 1.1rem;
  }
}


/*p-topForm
------------------------------------------------------------*/

.p-topForm {
  padding-top: 72px;
}

@media screen and (max-width: 767px) {
  .p-topForm {
    padding: 42px 25px 0;
  }
}

.p-topForm__title {
  text-align: center;
  font-size: 4.2rem;
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-weight: bold;
  color: #009944;
}

@media screen and (max-width: 767px) {
  .p-topForm__title {
    font-size: 2.7rem;
    line-height: 1;
  }
}

.p-topForm__title strong {
  font-family: vdl-logona, sans-serif;
  font-weight: bold;
}

.p-topForm__title--confirm {
  padding: 15px 10px;
  font-size: 2.6rem;
  color: #FFF;
  background: #009944;
}

@media screen and (max-width: 767px) {
  .p-topForm__title--confirm {
    padding: 5px;
    font-size: 1.3rem;
    line-height: 2.8rem;
  }
}

.p-topForm__txt01 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #313131;
  text-align: center;
  font-family: "ShinGoPro", sans-serif;
  letter-spacing: 0.8px;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .p-topForm__txt01 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-top: 25px;
  }
}

.p-topForm__txt02 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "ShinGoPro", sans-serif;
}

@media screen and (max-width: 767px) {
  .p-topForm__txt02 {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
    padding-left: 16px;
  }
}

.p-topForm__txt02 a {
  text-decoration: none;
  color: #009944;
}

.p-topForm__txt02--tel {
  color: #009944;
}

.p-topForm .p-form {
  padding-bottom: 1px;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form {
    padding-bottom: 12px;
  }
}

.p-topForm .p-form_txt02 {
  font-size: 1.6rem;
  font-family: "ShinGoPro", sans-serif;
  margin: 54px 0 0 29px;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_txt02 {
    font-size: 1.2rem;
    margin: 33px 0 28px 0;
    text-align: center;
    padding: 0;
  }
}

.p-topForm .p-form_txt02 .is-must {
  margin-right: 6px;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_txt02 .is-must {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 0.7rem;
  }
}

.p-topForm .p-form_txt03 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "ShinGoPro", sans-serif;
  margin: 0 0 0 29px;
}

.p-topForm .p-form_txt04 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "ShinGoPro", sans-serif;
  margin: 15px 0 0 29px;
}

.p-topForm .p-form_txt04:nth-child(1){
  margin-top:0 !important;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_txt03 {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
  }
  .p-topForm .p-form_txt04 {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
  }
}

.p-topForm .p-form_tbl {
  margin-top: 3px;
  margin-bottom: 78px;
  border-bottom: 1px solid #dddddd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl {
    margin-bottom: 30px;
  }
}

.p-topForm .p-form_tbl_cell {
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell {
    border: 0;
    padding: 0 0 20px;
    width: 100%;
    float: left;
  }
}

.p-topForm .p-form_tbl_cell input[type="text"],
.p-topForm .p-form_tbl_cell input[type="tel"],
.p-topForm .p-form_tbl_cell input[type="email"],
.p-topForm .p-form_tbl_cell input[type="url"] {
  width: calc(100% - 10px);
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 24px 30px;
  background: #ededed;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell input[type="text"],
  .p-topForm .p-form_tbl_cell input[type="tel"],
  .p-topForm .p-form_tbl_cell input[type="email"],
  .p-topForm .p-form_tbl_cell input[type="url"] {
    font-size: 1.3rem;
    line-height: 1.5;
    width: 100%;
    padding: 12px 15px 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.p-form_tbl__select{
  background: url(../../assets/img/i_select.jpg) no-repeat center right;
  width: 410px;
  border: 1px solid #aaaaaa;
}

.p-form_tbl__select select {
  background: transparent;
  font-size: 1.6rem;
  height: 72px;
  width: 100%;
  padding: 5px 75px 5px 31px;
  color: #313131;
  border: none;
  text-transform: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 767px) {
  .p-form_tbl__select select {
    height: 42px;
    font-size: 1.2rem;
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px){
  .p-form_tbl__select {
    width: 100%;
  }
}

.p-form_tbl__select select::-ms-expand {
  display: none;
}

.p-form_tbl_cell__list{
  padding: 11px 0;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list {
    padding: 0;
  }
}

.p-form_tbl_cell__list > li:first-child{
  padding-top: 0;
  padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list > li:first-child{
    padding-bottom: 10px;
  }
}

.p-form_tbl_cell__list > li:last-child{
  padding-bottom: 0;
}

.p-form_tbl_cell__list > li {
  padding: 22px 0;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list > li {
    padding: 15px 0;
  }
}

@media screen and (min-width: 768px) {
  .p-form_tbl_cell__list > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

.p-form_tbl_cell__list .c-title06{
  font-size: 2.4rem;
  font-weight:bold;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list .c-title06{
    font-size: 1.3rem;
  }

  .p-form_tbl_cell__list .c-title06:before {
    width:10px;
    height:10px;
  }
}

.p-form_tbl_cell__list .c-title06:before{
  vertical-align:top;
}

.p-form_tbl_cell__list-title {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "ShinGoPro", sans-serif;
  position: relative;
  padding-left: 22px;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list-title {
    font-size: 1.1rem;
    padding-left: 11px;
  }
}

.p-form_tbl_cell__list-title i {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list-title i {
    width: 8px;
    height: 8px;
  }

  .p-form_tbl_cell__list-title {
    margin-bottom: 10px
  }
}

.p-form_tbl_cell__list-title i:after {
    content: "";
    position: absolute;
    background-color: #2ea35e;
    transition: transform 0.25s ease-out;  
}

.p-form_tbl_cell__list-title i:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  margin-top: -2px;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list-title i:after {
    height: 2px;
    margin-top: -1px;
  }
}

.p-form_tbl_cell__list ul .p-form_tbl_cell__listHide {
  padding: 20px 0 0 40px;
  display: none;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__list ul .p-form_tbl_cell__listHide{
    padding:0;
  }

  .p-form_tbl_cell__listHide li input[type='checkbox'] + label{
    border: transparent;
  }
}

.p-form_tbl_cell__listHide input[type='url'] {
  height: 54px;
}

.p-form_tbl_cell__listHide span{
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .p-form_tbl_cell__listHide span{
    display: block;
    font-size: 0.9rem;
  }
}

.p-form_tbl_cell textarea{
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 2.4rem;
  background: #ededed;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  resize: none;
}

.p-form_tbl_cell textarea#fConsult {
  width: calc(100% - 10px);
  padding: 23px 30px 43px;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
 .p-form_tbl_cell textarea{
    font-size: 1.2rem;
    width: 100%;
    padding: 9px 20px;
    height: 200px;
    box-shadow: none;
 }
 .p-form_tbl_cell textarea#fConsult {
  padding: 15px 10px 30px;
  font-size: 1.3rem;
  }
}

.p-topForm .p-form_tbl_cell textarea#fOther {
  width: calc(100% - 10px);
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 20px 30px;
  background: #ededed;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  height: 135px;
  resize: none;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell textarea#fOther {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 9px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 200px;
    margin-top: 11px;
  }
}

.p-topForm .p-form_tbl_cell.is-head {
  background: #FFF;
  padding: 45px 0px 45px 31px;
  width: 330px;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell.is-head {
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 0;
    padding: 17px 0px 5px;
  }
}

.p-topForm .p-form_tbl_cell .is-label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 257px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-label {
    width: auto;
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding-right: 11px;
  }
}

.p-topForm .p-form_tbl_cell .is-label label span {
  font-weight: normal;
}

.p-topForm .p-form_tbl_cell .is-radio li.active,
.p-topForm .p-form_tbl_cell .is-check li.active {
  position: relative;
}

.p-topForm .p-form_tbl_cell .is-radio li.active:before,
.p-topForm .p-form_tbl_cell .is-check li.active:before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #009944;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li.active:before,
  .p-topForm .p-form_tbl_cell .is-check li.active:before {
    display: block;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"],
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"],
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"],
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"] {
  display: none;
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]+label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]+label:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d0d0d0;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]+label:before,
  .p-topForm .p-form_tbl_cell .is-check li input[type="radio"]+label:before {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #d2d2d2;
    background: #FFF;
    left: 12px;
    top: 18px;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]+label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]+label:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #009944;
  position: absolute;
  left: 7px;
  top: 7px;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]+label:after,
  .p-topForm .p-form_tbl_cell .is-check li input[type="radio"]+label:after {
    width: 15px;
    height: 15px;
    background: url("../img/icon05.png") no-repeat center;
    background-size: cover;
    border-radius: 50%;
    left: 12px;
    top: 18px;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]+label:before,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]+label:before {
  content: "";
  width: 30px;
  height: 30px;
  background: #d0d0d0;
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]+label:before,
  .p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]+label:before {
    width: 11px;
    height: 11px;
    border: 2px solid #d2d2d2;
    background: #FFF;
    left: 12px;
    top: 19px;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]+label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]+label:after {
  content: "";
  width: 9px;
  height: 20px;
  border-right: 3px solid #009944;
  border-top: 3px solid #009944;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  position: absolute;
  left: 9px;
  top: 1px;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]+label:after,
  .p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]+label:after {
    width: 3px;
    height: 7px;
    border-right: 2px solid #009944;
    border-top: 2px solid #009944;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    left: 17px;
    top: 21px;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li label,
.p-topForm .p-form_tbl_cell .is-check li label {
  position: relative;
  padding-left: 42px;
  font-size: 1.6rem;
  min-height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  line-height: 1.9;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li label,
  .p-topForm .p-form_tbl_cell .is-check li label {
    font-size: 1.2rem;
    min-height: auto;
    padding: 15px 10px 15px 40px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]+label,
  .p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="radio"]+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]+label {
    border-top: 1px solid #CCC;
    display: block;
  }
  .p-topForm .p-form_tbl_cell .is-check .listing+label{
    border-top:none !important; 
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-check .listing:checked+label {
    padding: 14px 9px 14px 39px;
    border: 2px solid #009944 !important;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked+label:after,
.p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked+label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked+label:after,
.p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked+label:after {
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li input[type="radio"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-radio li input[type="checkbox"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="radio"]:checked+label,
  .p-topForm .p-form_tbl_cell .is-check li input[type="checkbox"]:checked+label {
    z-index: 10;
  }
}

.p-topForm .p-form_tbl_cell .is-radio li textarea#fOther02,
.p-topForm .p-form_tbl_cell .is-check li textarea#fOther02 {
  width: calc(100% - 10px);
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 24px 30px;
  background: #ededed;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  margin-top: 8px;
  resize: none;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li textarea#fOther02,
  .p-topForm .p-form_tbl_cell .is-check li textarea#fOther02 {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 9px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio li {
    margin-top: -2px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-radio {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-check li {
    margin-top: -2px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_tbl_cell .is-check {
    margin-top: 13px;
  }
}

.p-topForm .p-form_tbl .is-error .is-head {
  background: #FFF;
}

.p-topForm .p-form .is-must {
  background: #009944;
  border: 1px solid #009944;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form .is-must {
    position: static;
    font-size: 0.7rem;
    width: 25px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form .is-any {
    position: static;
    font-size: 0.7rem;
    width: 25px;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form .is-cell {
    vertical-align: top;
  }
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_submit {
    margin: 0;
  }
}

.p-topForm .p-form_submit_btn {
  width: 525px;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_submit_btn {
    width: 100%;
  }

  .p-form_submit_btn .c-btn01 a span{
    padding: 12px 42px 12px 46px;
  }
}

.p-topForm .p-form_submit_btn_anchor {
  font-size: 3rem;
  color: #FFF;
  width: 100%;
  padding: 21px 80px 16px;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_submit_btn_anchor {
    padding: 7px 42px 7px 46px;
    font-size: 1.743rem;
    letter-spacing: 1px;
  }
}

.p-topForm .p-form_submit_btn_anchor:after {
  width: 33px;
  height: 7px;
  background: url("/assets/img/icon_arrow06.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 3.5px);
  right: 49px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .p-topForm .p-form_submit_btn_anchor:after {
    width: 19px;
    height: 4px;
    top: calc(50% - 2px);
    right: 22px;
  }
}

.p-topForm .p-form_submit_btn_anchor:hover {
  color: #ee5f09;
}

.p-topForm .p-form_submit_btn_anchor:hover:after {
  background: url("/assets/img/icon_arrow07.png") no-repeat;
}

.p-topConfirm {
  padding-top: 66px;
}

@media screen and (max-width: 767px) {
  .p-topConfirm {
    padding-top: 46px;
  }
}

.p-topConfirm .p-topForm {
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .p-topConfirm .p-topForm {
    padding-top: 20px;
  }
}

.p-topConfirm .p-form_tbl {
  margin-top: 30px;
}

.p-topConfirm .p-form_submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .p-topConfirm .p-form_submit {
    display: block;
  }
}

.p-topConfirm .p-form_submit .p-form_submit_btn {
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .p-topConfirm .p-form_submit .p-form_submit_btn {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.p-topConfirm .p-form_submit .p-form_submit_btn:first-child {
  margin-bottom: 10px;
}

.p-topConfirm .p-form_submit .p-form_submit_btn .c-btn04 {
  width: 100%;
}

.p-topConfirm .p-form_submit .p-form_submit_btn .c-btn04 a span {
  padding-left: 20px;
  padding-right: 20px;
}

.c-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .c-list {
    display: block;
  }
}

.c-list__item {
  width: 380px;
  background: #FFF;
  margin-left: 30px;
  margin-bottom: 49px;
  padding: 14px 40px 32px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-list__item {
    width: 100%;
    margin-left: 0;
    padding: 24px 25px 22px;
    margin-bottom: 34px;
  }
}

.c-list__item:nth-child(3n+1) {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(2) .c-list__img {
    top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(3) .c-list__img {
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(4) .c-list__img {
    top: 8px;
    right: 28px;
  }
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(5) .c-list__img {
    top: 3px;
    right: 28px;
  }
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-list__item:nth-of-type(6) .c-list__img {
    top: 11px;
    right: 38px;
  }
}

.c-list__number {
  position: absolute;
  top: -33px;
  right: 30px;
}

@media screen and (max-width: 767px) {
  .c-list__number {
    top: -23px;
    right: auto;
    left: 26px;
  }
}

@media screen and (max-width: 767px) {
  .c-list__number img {
    width: 30px;
    height: 33px;
  }
}

.c-list__img {
  margin-bottom: 9px;
  min-height: 143px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .c-list__img {
    margin-bottom: 0;
    min-height: auto;
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }
}

.c-list__ttl {
  text-align: center;
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #232323;
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .c-list__ttl {
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: left;
    margin-bottom: 12px;
    position: relative;
  }
}

.c-list__txt {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #333333;
  font-family: "ShinGoPro", sans-serif;
  font-weight: normal;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 767px) {
  .c-list__txt {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

.c-title06 {
  font-family: "ShinGoPro-DeBold", sans-serif;
  font-size: 1.8rem;
  color: #232323;
  line-height: 1;
}

.c-title06:before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(../img/i_title.png) no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}